<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= stylesheet_link_tag "jquery-ui.css" %>
		<%= stylesheet_link_tag "login.css" %>
		<title>微行-微信营销专家</title>
	</head>
	<body>
		<div id="header">
			<div class="wrapper" id="hearder_wrapper">
				<a href="http://www.weexing.com/" class="dib"><%= image_tag("weixing.png", height: '56', width: '426') %></a>
				<span class="hd_login_info" id="hd_login"> <%= link_to '立即注册', homepage_regist_url%></td> </span>
			</div>
		</div>
		<!--End of header-->
		<div id="banner" style="background:#070916 url('/images/Spring.jpg') no-repeat center center">
			<div class="wrapper" id="banner_wrapper">
				<div id="loginpanel" class="login-panel" >
					<h3>登录</h3>
					<div class="login-mod" id="loginmod">

						<div class="login-err-panel dn" id="err_area">
							<span class="icon-wrapper"><i class="icon24-login err" style="margin-top:-.2em;*margin-top:0;"></i></span>
							<span id="err_tips">ddssd</span>
						</div>

						<!--End of err_area-->

						<form class="login-form" id="login-form" action="/usercheck" method="post">
							<div class="login-un">
								<span class="icon-wrapper"><i class="icon24-login un"></i></span>
								<input id="username" name="username" placeholder="邮箱/微信号/QQ号" type="text">
							</div>
							<!--End of login-form-->
							<div class="login-pwd">
								<span class="icon-wrapper"> <i class="icon24-login pwd"></i></span>
								<input id="password" name="password" placeholder="密码" type="password">
								<input name="authenticity_token" type="hidden" value="P9b6xXgCMqQgCxloZEC0y3yEbnbtEKLHQ/CDnGlCwJ4=" />
							</div>
							<!--End of login-pwd-->
						</form>

						<div class="login-btn-panel">
							<div>
								<input type="submit" class="login-btn", title= "点击登录" id="commit" value="登录"/>
							</div>
						</div>
						<!--End of login-btn-panel-->

					</div>
				</div><!--End of login-panel-->
				<dl class="qrcode-panel" style="font-size:12px" id="qrcode_area">
					<dt>
						<%= image_tag("mp_qrcode1a951a.png")%>
					</dt>
					<dd>
						扫描并关注微行
					</dd>
				</dl>
			</div><!--End of wrapper-->
		</div><!--End of banner-->

		<div id="banner2" class="banner" style="display:none;background:#070916 url('/images/mountain.jpg') no-repeat center center">
			<div class="wrapper" id="banner_wrapper2">
				<div id="div_wrapper" style="position:relative;left:-50px">
					<div id="product1" class="product"  style="position:absolute;top:50px;left:0;width:448px;height:253px;background:#070916 url('/images/cardpic.jpg') no-repeat center center" onmouseover="highlight(this)" onmouseout="dehighlight(this)"
					onclick="location.href='/card'">
						<h3 style="position:relative;top:20px;left:20px;font-size: 25px"> &nbsp&nbsp&nbsp会员卡 </h3>
					</div>

					<div id="product2" class="product"  style="position:absolute;top:50px;left:600px;width:448px;height:253px;background:#070916 url('/images/product.jpg') no-repeat center center" onmouseover="highlight(this)" onmouseout="dehighlight(this)" >
						<h3 style="position:relative;top:20px;left:20px;font-size: 25px"> &nbsp&nbsp&nbsp微店铺 </h3>
					</div>

					<div id="product3" class="product"  style="position:absolute;top:350px;left:0px;width:448px;height:253px;background:#070916 url('/images/product.jpg') no-repeat center center" onmouseover="highlight(this)" onmouseout="dehighlight(this)" >
						<h3 style="position:relative;top:20px;left:20px;font-size: 25px"> &nbsp&nbsp&nbsp地产应用</h3>
					</div>

					<div id="product4" class="product"  style="position:absolute;top:350px;left:600px;width:448px;height:253px;background:#070916 url('/images/product.jpg') no-repeat center center" onmouseover="highlight(this)" onmouseout="dehighlight(this)" >
						<h3 style="position:relative;top:20px;left:20px;font-size: 25px"> &nbsp&nbsp&nbsp教育应用 </h3>
					</div>
				</div>

			</div><!--End of wrapper-->
		</div><!--End of banner-->

		<div id="contain">
			<div class="wrapper">
				<div class="simple_box mp_index">
					<dt>
						<i class="icon_tip speaker"></i>最新消息
					</dt>
					<dd class="">
						<i>●</i><a href="/news/display/top1" target="_blank"><%= @top1_title%><span class="label_new"><%= image_tag("icon_new.png")%></span></a>
					</dd>
					<dd class="">
						<i>●</i><a href="/news/display/top2" target="_blank"><%= @top2_title%><span class="label_new"><%= image_tag("icon_new.png")%></span></a>
					</dd>
				</div><!--End of simple_box_mp_index-->
			</div><!--End of wrapper-->
		</div><!--End of contain-->
		<div id="footer">
			<span> <a target="_blank" href="/news/display/about">关于微行</a>&nbsp;|&nbsp; <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/agreement_tmpl&amp;type=info&amp;lang=zh_CN">服务协议 </a>&nbsp;|&nbsp; <a target="_blank" href="http://kf.qq.com/product/weixinmp.html">客服中心</a>&nbsp;|&nbsp; <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:%7Cm:12%7Cf:400792:m:12" target="_blank">在线客服</a>&nbsp;|&nbsp; <a target="_blank" href="mailto:weixinmp@qq.com">联系邮箱 </a>&nbsp;|&nbsp; </span>
			<span>Copyright&nbsp; 2012-2013 WEIXING. All Rights Reserved.</span>

		</div><!--End of footer-->
		<!--Java Script starts from here-->
		<script type="text/javascript" src="/javascripts/jquery-191.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
		<script type="text/javascript" src="/javascripts/formhandler.js"></script>
		<script type="text/javascript">
			var commit$ = $("#commit");
			var err_panel$ = $("#err_area");

			function highlight(id) {
				if (navigator.userAgent.indexOf("MSIE") > 0) {
					id.filters.alpha.opacity = 80;
				} else {
					id.style.opacity = 0.8;
				}
			}

			function dehighlight(id) {
				if (navigator.userAgent.indexOf("MSIE") > 0) {
					id.filters.alpha.opacity = 30;
				} else {
					id.style.opacity = 0.3;
				}
			}

			function callback() {
			};

			function runEffect() {
				var options = {
					direction : "right"
				};
				$("#banner").hide("drop", options, 500, runEffect2);
				//	$("#banner").hide("drop",options,1000,callback);
			}

			function runEffect2() {
				var options = {
					direction : "left"
				};
				//$("#banner").css("background", "#070916 url('/assets/mountain.jpg') no-repeat center center");

				$("#banner_wrapper2").css("height", "667px");
				$("#banner2").show("drop", options, 500, callback);
			}

			function setUserCheckPass() {
				err_panel$.addClass('dn');
				//$("#hd_login").html("<h3>账户：" + $("#username").val() + "</h3>");
				runEffect();
			}

			function setUserCheckFail() {
				$("#err_tips").html("用户名/密码错误");
				err_panel$.removeClass('dn');
				return;
			}

			function setUserNotActive() {
				$("#err_tips").html("用户账号没有被激活");
				err_panel$.removeClass('dn');
				return;
			}

			var checkform = function() {
				var user = $.trim($("#username").val());
				var pass = $.trim($("#password").val());
				if (user == "") {
					$("#err_tips").html("用户名不能为空");
					err_panel$.removeClass('dn');
					return;
				}
				if (pass == "") {
					$("#err_tips").html("密码不能为空");
					err_panel$.removeClass('dn');
					return;
				} else {
					$.post("/homepage/usercheck", {
						username : $.trim($("#username").val()),
						password : $.trim($("#password").val())
					}, null, "script");

				}
				//}

			};
			commit$.click(checkform);

			//表单初始化
			//var Msg = "empty";
			//var Tipid = "#err_area";
			//$("#Button").attr("disabled", "disabled");
			//$(Tipid).css("display", "none");
			//$("#Button").css("background","url(image/Landed_button2.gif)");
			//初始化完成

			//$(function login() {
			//$("#account").blur(function() {//用户名文本框失去焦点触发验证事件

			//if ($(this).val() == "")//只处验证不能为空并且只能为英文或者数字或者下划线组成的２－１５个字符
			//{
			//	Msg = "用户名不能为空!"
			// Result(false);
			//} else {
			//	if ($(this).val().length < 5 || $(this).val().length > 15) {
			//	Msg = "用户名由5-15字组成!"
			//Result(false);
			//}
			//}
			//});
			//$("#password").blur(function() {

			//	if ($(this).val() == "") {
			//Msg = "密码不能为空!"
			//Result(false);
			//	} else {
			//if ($(this).val().length > 20) {
			//Msg = "密码超出20字符!";

			//  Result(false);
			//}
			//}
			//});

			//$("#login_button").click(function() {
			//
			//				if (Msg == "empty") {
			//			} else {
			//			Result(false);
			//	}
			//});

			//})
			//function Result(Result) {
			//	if (!Result) {
			//	$(Tipid).html(Msg);
			//	$(Tipid).show();
			//$("#Button").css("background","url(image/Landed_button2.gif)");
			//$("#Button").attr("disabled", "disabled");
			//	return false;
			//} else {
			//$(Tipid).html(Msg);
			//$("#Button").removeAttr("disabled");
			//$("#Button").css("background","url(image/Landed_button.gif)");
			//$(Tipid).css("display", "inline");
			//}
			//}
		</script>
	</body>
</html>
