<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>微行平台注册</title>
		<%= stylesheet_link_tag "common1.css" %>
		<%= stylesheet_link_tag "common2.css" %>
		<%= stylesheet_link_tag "component.css" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
		<%= javascript_include_tag "jquery-191.js" %>
		<%= javascript_include_tag "formhandler.js" %>
	</head>
	<body class="zh_CN realnameRegPage">
		<div id="header" class="header">
			<div class="logo_area">
				<div class="wrapper">
					<img src="/images/weixing.png" onClick="javascript:location.href='/'" alt="微行平台">
					<span class="hd_login_info"> <a class="account_primary_link" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:%7Cm:12%7Cf:400792:m:12" target="_blank"> 在线客服 </a> </span>
				</div>
				<!--end of wrapper-->
			</div><!--end of logo_area-->
		</div><!--end of header-->
		<div class="container-wrapper">
			<div id="main" class="container">
				<div class="containerBox boxIndex">
					<div class="rn-reg-t-wrapper group">
						<ul>
							<li class="tc left rn-reg-t current">
								1 基本信息
							</li>
							<li class="tc left rn-reg-t next">
								2 邮箱激活
							</li>
							<li class="tc left rn-reg-t nnext">
								3 信息登记
							</li>
						</ul>
					</div>
					<div style="display: block;" class="rn-box reg-box">
						<div class="frm">
							<div class="frm-bd group">
								<div class="frm-section l">
									<div class="section-bd">
										<div id="email_group" class="group frm_control_group extra">
											<label for="" class="frm_label">邮箱</label>
											<div class="frm_controls">
												<input id="email" placeholder="" class="frm-controlM" type="text">
												<p id="email_fail_msg" class="valid-msg fail">
													<i>●</i><span class="msg_content">请输入正确的邮箱地址</span>
												</p>
												<span class="frm_desc">用来登录微行平台，接收到激活邮件才能完成注册</span>
											</div><!--end of frm_controls-->
										</div>
										<!--end of email_group-->
										<div id="pw1_group" class="group frm_control_group">
											<label for="" class="frm_label">密码</label>
											<div class="frm_controls">
												<input id="pw1" onpaste="return false" class="frm-controlM" type="password">
												<p class="valid-msg fail">
													<i>●</i><span class="msg_content">密码长度不足6位，或者使用了非法字符</span>
												</p>
												<p>
													<span class="frm_desc">字母、数字或者英文符号，最短6位，区分大小写</span>
												</p>
											</div><!--end of frm_controls-->
										</div><!--end of pw1_group-->
										<div id="pw2_group" class="group frm_control_group">
											<label for="" class="frm_label">确认密码</label>
											<div class="frm_controls">
												<input id="pw2" onpaste="return false" class="frm-controlM" type="password">
												<p class="valid-msg fail">
													<i>●</i><span class="msg_content">两次输入的密码不一致</span>
												</p>
												<p>
													<span class="frm_desc"></span>
												</p>
											</div><!--end of frm_controls-->
										</div>
										<!--end of pw2_group-->

									</div><!--end of section-bd-->
								</div><!--end of frm-section l-->
								<div class="frm-tip l">
									<p>
										<i>●</i>已有微行帐号？<a href=<%= homepage_login_url%>>立即登录</a>
									</p>
								</div><!--end of frm-tip l-->
							</div>
							<div class="frm-ft">
								<div class="tc frm-opr">
									<a disable="true" id="reg" href="javascript:;" class="btnGreen btnDisable">注册</a>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;" class="rn-box active-box">
						<div class="frm">
							<div class="frm-hd">
								<div class="frm-msg">
									<span class="msg-pic"><i class="user-icon email-icon"></i></span>
									<div class="frm-msg-content" style="padding-top:5px">
										<h3 class="frm-msg-t">激活公众平台帐号</h3>
										<p class="frm-msg-text">
											感谢注册！确认邮件已发送至你的注册邮箱 : <span id="confirm_email"></span>。请进入邮箱查看邮件，并激活公众平台帐号。
										</p>
										<p class="mailto-access">
											<a href="javascript:;" id="login_email" class="btnGreen">登录邮箱</a>
										</p>
									</div>
								</div>
							</div>
							<div class="frm-ft">
								<div class="frm-qa">
									<dl class="frm-qa-list">
										<dt class="frm-qa-t">
											没有收到邮件？
										</dt>
										<dd class="frm-qa-item">
											1、请检查邮箱地址是否正确，你可以返回<a id="returnEmail" href="javascript:;">重新填写</a>。
										</dd>
										<dd class="frm-qa-item">
											2、检查你的邮件垃圾箱
										</dd>
										<dd class="frm-qa-item">
											3、若仍未收到确认，请尝试<a id="reSendEmail" href="javascript:;">重新发送</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;" class="rn-box check-box">
						<div class="frm">
							<div class="frm-hd">
								<h3 class="frm-t">用户信息登记</h3><p class="frm-tip"></p>
								<p>
									微信公众平台致力于打造真实、合法、有效的品牌推广平台，我们有志与诚信守约、进取担当的第三方合作伙伴携手并进，建立和维护良性互动、健康有序的平台秩序。为了更好的保障你和广大微信用户的利益，请你认真填写以下登记信息。
								</p>
								<p>
									点击查看 <a href="http://kf.qq.com/faq/120911VrYVrA130619v6zaAn.html" target="_blank">微信公众平台信息登记说明</a>。
								</p>
								<ul class="frm-tip-list">
									<li>
										用户信息登记后你可以:
									</li>
									<li class="frm-tip-item">
										1. 使用微信公众平台的所有功能
									</li>
									<li class="frm-tip-item">
										2. 提高帐号可信任度
									</li>
								</ul>
								请确认你的微信公众账号属于政府、媒体、企业、其他组织或个人，并请按照对应的类别进行信息登记。 <p></p>
							</div>
							<div class="group frm_control_group" id="char_type">
								<label class="frm_label" style="margin-top:3px">运营主体</label>
								<ul class="mp-reg-kind-nav frm_controls">
									<li class="mp-reg-kind no-extra on btnGrayS char_type" type="enterprise">
										组织
									</li>
									<li class="mp-reg-kind btnGrayS char_type" type="person">
										个人
									</li>
								</ul>
							</div>
							<div class="tab_split group" id="tab_split_arrow">
								<span class="arrow arrow_t arrow_split arrow_out"></span><span class="arrow arrow_t arrow_split arrow_extra"></span><span class="arrow arrow_t arrow_split arrow_in"></span>
							</div>
							<div class="frm-nav">
								<label for="" class="frm_label no_extra" select="option">类型</label>
								<div class="frm_controls" type="enterprise">
									<ul class="mp-reg-kind-nav">
										<li class="mp-reg-kind btnGrayS no-extra style_type" tmpl="tRegGov" form="govreg">
											政府
										</li>
										<li class="mp-reg-kind btnGrayS style_type" tmpl="tRegMedia" form="mediareg">
											媒体
										</li>
										<li class="mp-reg-kind btnGrayS style_type on" tmpl="tRegEnterprise" form="entreg">
											企业
										</li>
										<li class="mp-reg-kind btnGrayS style_type" tmpl="tRegOther" form="otherreg">
											其他组织
										</li>
									</ul>
									<p class="mp-reg-kind-frm_desc mp-reg-kind-frm_desc-media frm_desc" style="display:none" tmpl="tRegMedia">
										媒体包括：报纸，杂志，电视，电台，通讯社，其他等。
									</p>
									<p class="mp-reg-kind-frm_desc mp-reg-kind-frm_desc-gov frm_desc" style="display:none" tmpl="tRegGov">
										政府包括：国内外、各级、各类政府机构、事业单位、具有行政职能的社会组织等。
										<br>
										目前主要覆盖公安机构、党团机构、司法机构、交通机构、旅游机构、工商税务机构、市政机构、涉外机构等。
									</p>
									<p class="mp-reg-kind-frm_desc mp-reg-kind-frm_desc-enterprise frm_desc" style="display:none" tmpl="tRegEnterprise">
										企业包括：企业，分支机构，企业相关品牌，产品与服务，以及招聘，客服等类型的公众帐号。
									</p>
								</div>
								<div class="frm_controls none" type="person">
									<ul class="mp-reg-kind-nav">
										<li class="mp-reg-kind btnGrayS style_type no-extra" tmpl="tRegPerson" form="personreg">
											个人
										</li>
									</ul>
								</div>
							</div>
							<div id="regKindBody"></div>
							<div class="frm-ft">
								<div class="frm-opr">
									<a href="javascript:;" id="fillRealname" class="btnGreen"> 继续 </a>
								</div>
							</div>
						</div>
					</div>
					<div style="display: none;" class="rn-box mp-kind-box frm">
						<div class="frm-bd">
							<div class="mp-kind-list">
								<div class="mp-kind" service-type="2" type="enterprise">
									<div class="kind-hd">
										<i class="icon132-pay-reg enterprise"></i>
									</div>
									<div class="kind-bd">
										<dl class="mp-kind-intro-list">
											<dt class="mp-kind-intro-t">
												服务号
											</dt>
											<dd class="mp-kind-intro">
												<i class="dot">●</i>给企业和组织提供更强大的业务服务与用户管理能力，帮助企业快速实现全新的公众号服务平台。
											</dd>
										</dl>
										<p class="link-wrapper">
											<a target="_blank" class="enterprise_desc" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=intro_account_tmpl">了解详情</a>
										</p>
									</div>
									<div class="kind-ft">
										<span class="icon-wrapper"><i class="icon32_status tick"></i><span class="selected">已选择</span><span class="default">未选择</span></span>
									</div>
								</div>
								<div class="mp-kind" service-type="1" type="person">
									<div class="kind-hd">
										<i class="icon132-pay-reg person"></i>
									</div>
									<div class="kind-bd">
										<dl class="mp-kind-intro-list">
											<dt class="mp-kind-intro-t">
												订阅号
											</dt>
											<dd class="mp-kind-intro">
												<i class="dot">●</i>为媒体和个人提供一种新的信息传播方式，构建与读者之间更好的沟通与管理模式。
											</dd>
										</dl>
										<p class="link-wrapper">
											<a target="_blank" class="person_desc" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=intro_subscribe_tmpl">了解详情</a>
										</p>
									</div>
									<div class="kind-ft">
										<span class="icon-wrapper"><i class="icon32_status tick"></i><span class="selected">已选择</span><span class="default">未选择</span></span>
									</div>
								</div>
							</div>
							<div class="tip_box">
								公众号类型选择之后不可修改，请慎重选择。
							</div>
						</div>
						<div class="frm-ft">
							<div class="tc frm-opr">
								<a id="submitServiceType" href="javascript:" class="btnGreen">继续</a>
							</div>
						</div>
					</div>
					<div style="display: none;" class="rn-box mp-account">
						<div class="frm">
							<div class="frm-bd">
								<div class="frm-section group">
									<div class="section-hd account-pic-box"></div>
									<div class="section-bd">
										<div class="group frm_control_group">
											<label for="" class="frm_label">帐号名称</label>
											<div id="account_group" class="frm_controls">
												<input id="account" max-length="16" min-length="2" placeholder="" class="frm-controlM" type="text">
												<p class="valid-msg fail">
													<i>●</i><span class="msg_content"></span>
												</p>
												<p>
													<span class="frm_desc">(2-16个字)名称一经设置无法更改。</span>
												</p>
											</div>
										</div>
										<div id="intro_group" class="group frm_control_group">
											<label for="" class="frm_label">功能介绍</label>
											<div class="frm_controls">
												<textarea id="intro" name="" class="frm-controlM" max-length="120" min-length="4" placeholder=""></textarea>
												<p class="valid-msg fail">
													<i>●</i><span class="msg_content"></span>
												</p>
												<p>
													<span class="frm_desc">(4-120个字)介绍此公众帐号功能与特色。</span>
												</p>
											</div>
										</div>
										<div id="district2_group" class="group frm_control_group">
											<label for="" class="frm_label">运营地区</label>
											<div class="frm_controls frm-control-select">
												<select class="select select3 left frm_select" id="country2"></select>
												<select class="select select3 left frm_select" id="province2"></select>
												<select class="select select3 left frm_select" id="city2"></select>
												<p class="valid-msg fail">
													<i>●</i><span class="msg_content">请选择运营地区</span>
												</p>
												<p>
													<span class="frm_desc"></span>
												</p>
											</div>
										</div>
										<div id="lang_group" class="group frm_control_group">
											<label for="" class="frm_label">语言</label>
											<div class="frm_controls frm-control-select">
												<select id="lang" class="select left frm_select">
													<option value="">选择语言</option><option value="en_US">English</option><option value="zh_TW">繁體中文</option><option value="zh_CN" selected="selected">简体中文</option>
												</select>
												<p class="valid-msg fail">
													<i>●</i><span class="msg_content">请选择语言</span>
												</p>
												<p>
													<span class="frm_desc"></span>
												</p>
											</div>
										</div>
										<div id="type_group" class="group frm_control_group">
											<label for="" class="frm_label">类型</label>
											<div class="frm_controls frm-control-select">
												<select id="type" class="select left frm_select">
													<option selected="selected" value="1">普通公众帐号类型</option>
												</select>
											</div>
										</div>
										<div id="meeting-tips" class="row none float-p">
											<p class="c-r">
												提醒：会议号是有一定时间限制的公众帐号，过期后将无法登录使用。
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="frm-ft">
								<div class="frm_ft_tip">
									<div class="tip_box inner">
										<p class="tip_content">
											以上信息提交后，我们会在7个工作日内进行审核。
											<br>
											通过审核前，你无法申请认证，也无法使用公众平台群发功能和高级功能。
										</p>
									</div>
								</div>
							</div>
							<div class="frm-opr">
								<a href="javascript:;" id="submitReg" class="btnGreen">完成</a><a href="javascript:" id="goBackTo4">返回</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer" class="footer">
			<span> <a target="_blank" href="http://www.tencent.com/zh-cn/index.shtml">关于微行</a>&nbsp;|&nbsp; <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/agreement_tmpl&amp;type=info&amp;lang=zh_CN">服务协议</a>&nbsp;|&nbsp; <a target="_blank" href="http://kf.qq.com/product/weixinmp.html">客服中心</a> &nbsp;|&nbsp; <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:%7Cm:12%7Cf:400792:m:12" target="_blank">在线客服</a>&nbsp;|&nbsp; <a target="_blank" href="mailto:weixinmp@qq.com">联系邮箱</a>&nbsp;|&nbsp; <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/infringement_tmpl&amp;lang=zh_CN">侵权投诉</a> </span><span>Copyright&nbsp;© 2012-2013 Weixing. All Rights Reserved.</span>
		</div>

		<script type="text/javascript">
			$("#pw1").blur(checkpass1);
			$("#pw2").blur(checkpass2);
			$("#email").blur(checkmail);
			var reg$ = $("#reg");
			var valid = {
				email : 1,
				pw1 : 1,
				pw2 : 1
			};

		</script>

	</body>
</html>