<!DOCTYPE html>
<html lang="en">
	<head>
		<title>微行微系统</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/font-awesome.css" />
		<link rel="stylesheet" href="/css/jquery.jscrollpane.css" />
		<link rel="stylesheet" href="/css/slick.css" />
		<link rel="stylesheet" href="/css/jquery-ui.css" />
		<link rel="stylesheet" href="/css/icheck/flat/blue.css" />
		<link rel="stylesheet" href="/css/select2.css" />
		<link rel="stylesheet" href="/css/unicorn.css" />
		<link rel="stylesheet" href="/css/jquery.gritter.css" />
		<link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css" />
		<link rel="stylesheet" href="/css/slickstyle.css" />
		<link rel="stylesheet" href="/stylesheets/jquery.fileupload.css" />
		<%= stylesheet_link_tag "bootstrap-editable.css" %>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
		<style>
			.article-post {
				margin-left: 0;
			}
			body {
				background-color: #3C3C3C;
			}
			.onlinecol {
			}

			.config {
				display: none;
			}

			.config_del {
				position: absolute;
				bottom: 3px;
				right: 5px;
				color: blue;
				margin-right: 0;
			}

			.config_open {
				position: absolute;
				bottom: 3px;
				right: 65px;
				color: blue;
				margin-right: 0;
			}

			.config_change {
				position: absolute;
				bottom: 3px;
				right: 35px;
				color: blue;
				margin-right: 0;
			}

			.menu_level1 {
				position: relative
			}

			.secondmenu {
				display: none;
				position: absolute;
				top: -48px;
				left: 0;
				width: 70%;
				height: 90%;
				color: blue;
				font-size: 12px;
			}

			.menu_1 {
				top: -48px
			}

			.menu_2 {
				top: -92px
			}
			.menu_3 {
				top: -136px
			}
			.menu_4 {
				top: -180px
			}
			.menu_5 {
				top: -224px
			}

			.deletemenu {
				display: block;
				color: red;
				background: rgba(255, 255, 255, 0.2);
				width: 20px;
				height: 10px;
				top: -5px;
				right: 10px;
				position: absolute;
				text-align: center;
				line-height: 40px;
			}

			.onlinecol .status {
				font-size: 13px;
				color: #5CB85C
			}
			.offlinecol {
			}
			.offlinecol .status {
				font-size: 13px;
				color: #D9534F
			}
			.centercol {
				vertical-align: center
			}
			.field {
				margin-top: 10px
			}
			.inputfield {
				margin-top: 10px
			}
			.no-close .ui-dialog-titlebar-close {
				display: none;
			}
		</style>

	</head>
	<body data-color="grey" class="flat">
		<div id="wrapper" style="">
			<div id="header">
				<h1><a href="/agency/index">微行</a></h1>
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>
			</div>

			<div id="user-nav">
				<ul class="btn-group">
					<li class="btn">
						<a title="" href="/agency/logout"><i class="fa fa-share"></i> <span class="text">登出</span></a>
					</li>
				</ul>
			</div>

			<div id="switcher">
				<div id="switcher-inner">
					<h3>标题栏颜色</h3>
					<h4>颜色</h4>
					<p id="color-style">
						<a data-color="orange" title="Orange" class="button-square orange-switcher" href="#"></a>
						<a data-color="turquoise" title="Turquoise" class="button-square turquoise-switcher" href="#"></a>
						<a data-color="blue" title="Blue" class="button-square blue-switcher" href="#"></a>
						<a data-color="green" title="Green" class="button-square green-switcher" href="#"></a>
						<a data-color="red" title="Red" class="button-square red-switcher" href="#"></a>
						<a data-color="purple" title="Purple" class="button-square purple-switcher" href="#"></a>
						<a href="#" data-color="grey" title="Grey" class="button-square grey-switcher"></a>
					</p>
					<!--
					<h4>Background Patterns</h4>
					<h5>for boxed version</h5>
					<p id="pattern-switch">
					<a data-pattern="pattern1" style="background-image:url('assets/img/patterns/pattern1.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern2" style="background-image:url('assets/img/patterns/pattern2.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern3" style="background-image:url('assets/img/patterns/pattern3.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern4" style="background-image:url('assets/img/patterns/pattern4.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern5" style="background-image:url('assets/img/patterns/pattern5.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern6" style="background-image:url('assets/img/patterns/pattern6.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern7" style="background-image:url('assets/img/patterns/pattern7.png');" class="button-square" href="#"></a>
					<a data-pattern="pattern8" style="background-image:url('assets/img/patterns/pattern8.png');" class="button-square" href="#"></a>
					</p>-->

				</div>
				<div id="switcher-button">
					<i class="fa fa-cogs"></i>
				</div>
			</div>

			<div id="sidebar">

				<ul>
					<li>
						<a href="index.html"><i class="fa fa-home"></i> <span>账户首页</span></a>
					</li>
					<li class="submenu active open">
						<a href="#"><i class="fa fa-credit-card"></i> <span>汇员卡</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li class="active">
								<a href="/agency/interface">客户管理</a>
							</li>
							<li>
								<a href="/agency/cardguide">操作指南</a>
							</li>
						</ul>
					</li>
					<li class="submenu">
						<a href="#"><i class="fa fa-th-list"></i> <span>微行秀</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li>
								<a href="/agency/wxshow">客户管理</a>
							</li>
							<li>
								<a href="/agency/wxshowguide">操作指南</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/agency/wxschool"><i class="fa fa-th"></i> <span>家校通</span></a>
					</li>
					<li>
						<a href="/agency/wxshop"><i class="fa fa-th-list"></i> <span>朋友店</span></a>
					</li>
					<li class="submenu">
						<a href="#"><i class="fa fa-file"></i> <span>微企管</span> <i class="arrow fa fa-chevron-right"></i></a>
						<ul>
							<li>
								<a href="/agency/voa">客户管理</a>
							</li>
							<li>
								<a href="/agency/voaguide">操作指南</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/agency/credit"><i class="fa fa-cny"></i> <span>充值&点数</span></a>
					</li>

				</ul>

			</div>

			<div id="content">
				<div id="content-header" class="mini">
					<h1>汇员卡</h1>

				</div>

				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-12">
							<button class="btn btn-dark-blue" onclick="createuser()">
								<i class="fa fa-plus-circle"></i> &nbsp;新商户
							</button>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon"> <i class="fa fa-th"></i> </span>
									<h5>客户管理</h5>

								</div>
								<div class="widget-content nopadding">
									<table class="table table-bordered data-table" id="usertable">
										<thead>
											<tr>
												<th>id</th>
												<th>客户名称</th>
												<th>子域名</th>
												<th>状态</th>
												<th>上线时间</th>
												<th>到期时间</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody id="dtable">
											<% @shops.each do |shop| %>
											<%if shop.online==0%>
											<tr class="offlinecol" id="row<%= shop.id%>">
												<%else%>
											<tr class="onlinecol" id="row<%= shop.id%>">
												<%end%>
												<td><%= shop.id%></td>
												<td class="col-sm-2 col-md-2 col-lg-2" style="text-align:center"><%= shop.name%></td>
												<td class="col-sm-2 col-md-2 col-lg-2" style="text-align:center"><%= shop.shopurl%></td>
												<td class="col-sm-1 col-md-1 col-lg-1" style="text-align:center" class="taskStatus"><span class="status"><%= shop.status%></span></td>
												<td class="col-sm-2 col-md-2 col-lg-2" style="text-align:center"><%= shop.created_at.to_s[0,10]%></td>
												<td class="col-sm-2 col-md-2 col-lg-2" class="centercol" style="text-align:center"><%= shop.exprieddate.to_s[0,10]%></td>
												<td class="col-sm-3 col-md-3 col-lg-3" style="text-align: center" rid="<%= shop.id%>" id="rec<%= shop.id%>"> <%if shop.online==0%>
												<button class="btn btn-success btn-sm" onclick="online(this);return false;">
													启动
												</button> <%else%>
												<button class="btn btn-danger btn-sm" onclick="online(this);return false;">
													停止
												</button> <%end%>
												<button class="btn btn-dark-blue btn-sm" onclick="setTemplate(this);return false;" id="shoppage<%= shop.id%>" templateid="<%= shop.usertemplate_id%>">
													页面
												</button>
												<button class="btn btn-dark-blue btn-sm" onclick="setCard(this);return false;" id="shopcard<%= shop.id%>" cardid="<%= shop.membercard_id%>">
													卡片
												</button> </br>
												<button class="btn btn-dark-blue btn-sm" onclick="setConnect(this);return false;">
													连接
												</button>
												<button class="btn btn-dark-blue btn-sm" onclick="setAccount(this);return false;">
													账户
												</button>
												<button class="btn btn-dark-red btn-sm del-modal"  onclick="delconfirm(this);return false;">
													删除
												</button></td>
											</tr>
											<% end %>
										</tbody>
									</table>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="footer" class="col-xs-12">
					2013 - 2014 &copy; 微行微系统
				</div>
			</div>

			<div id="offline-dialog" title="确认停止">
				停止服务，将使该商户的应用<b>无法访问</b>，请确认。
			</div>

			<div id="online-dialog" title="确认启动">
				启动服务商户，将使商户的应用<b>开始运行</b>，请确认。
			</div>

			<div id="delete-dialog" title="确认">
				删除商户，将使商户信息<b>完全消失，无法恢复</b>，请确认。
			</div>

			<div id="charge-dialog" title="续费确认">
				充值<span id="month-span">1</span>个月需要<b><span id="point-span">1</span></b>点数，请确认。
			</div>

			<div id="addmenu-dialog" title="菜单内容" style="display:none">
				<table class="table table-bordered table-striped table-hover">
					<tbody>
						<tr>
							<td style="width:30%">标题 </td>
							<td>
							<input class="inputfield" type="text" id="menutitle">
							</td>
						</tr>
						<tr>
							<td style="width:30%">链接 </td>
							<td>
							<input class="inputfield" type="text" id="menuurl">
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="changemenu-dialog" title="菜单内容" style="display:none">
				<table class="table table-bordered table-striped table-hover">
					<tbody>
						<tr>
							<td style="width:30%">标题 </td>
							<td>
							<input class="inputfield" type="text" id="menutitle_c">
							</td>
						</tr>
						<tr>
							<td style="width:30%">链接 </td>
							<td>
							<input class="inputfield" type="text" id="menuurl_c">
							</td>
						</tr>
					</tbody>
				</table>
				<b>本菜单如果存在子菜单 则此处的链接无效</b>
			</div>

			<div id="addmenu2-dialog" title="二级菜单" style="display:none">
				<table class="table table-bordered table-striped table-hover">
					<tbody>
						<tr>
							<td style="width:30%">上级 </td>
							<td><select class="form-control" id="menuselect"></select></td>
						</tr>
						<tr>
							<td style="width:30%">标题 </td>
							<td>
							<input class="inputfield" type="text" id="menutitle2">
							</td>
						</tr>
						<tr>
							<td style="width:30%">链接 </td>
							<td>
							<input class="inputfield" type="text" id="menuurl2">
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="new-dialog" title="建立新商户">
				<form class="form-horizontal" id="newshopform">
					<div class="row">
						<div class="col-lg-10 col-sm-10 col-md-10 form-group">
							<label class="control-label"  for="inputcardno" style="font-size: 14px">商户名</label>
							<input  class="form-control input-sm inputfield" id="shopname" name="shopname" placeholder="商户名" type="text"/>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-10 col-sm-10 col-md-10 form-group">
							<label class="control-label" for="inputphone" style="font-size: 14px">用户类型</label>

							<div class="controls">
								<select id="createtype" class="selectpicker inputfield">
									<option value="普通用户">普通用户</option>
									<option value="试用用户">试用用户</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-sm-10 col-md-10 form-group">
							<label class="control-label"  for="inputcardno" style="font-size: 14px">子域名</label>
							<input  class="form-control input-sm inputfield" id="shopurl" placeholder="子域名" type="text"/>
						</div>

					</div>
				</form>
			</div>

			<div id="template-dialog">
				<div>
					<div class="multiple-items" style="display:block;width:300px;height:400px;" id="templates">
						<%@templates.each_with_index do |template,index|%>
						<div class="image templ" id="temp<%= template.id%>" tid="<%= template.id%>" index="<%= index%>"><img data-lazy="<%= template.preview.url(:medium)%>"/>
							<div style="text-align: center;font-size:16px;margin-top: 10px">
								<b><%= template.name%></b>
							</div>
						</div>

						<%end%>
					</div>
					<div style="text-align: center;font-size:16px">
						<button class="btn btn-primary" style="width:70%" onclick="savetemplate()">
							确定
						</button>
					</div>

				</div>
			</div>

			<div id="card-dialog" style="overflow: hidden">
				<div>
					<div class="multiple-items" style="display:block;width:300px;height:180px" id="cards">
						<%@membercards.each_with_index do |card,index|%>
						<div class="image cards" id="card<%= card.id%>" cid="<%= card.id%>" index="<%= index%>"><img data-lazy="<%= card.pic.url(:medium)%>"/>
							<div style="text-align: center;font-size:16px;margin-top: 10px">
								<b><%= card.name%></b>
							</div>
						</div>

						<%end%>
					</div>
					<div style="text-align: center;font-size:16px">
						<button class="btn btn-primary" style="width:70%" onclick="savecard()">
							确定
						</button>
					</div>

				</div>
			</div>

			<div id="connect-dialog" style="overflow: hidden">
				<div id="connect-inner">

				</div>
			</div>

			<div id="account-dialog" style="overflow: hidden">
				<div id="account-inner">

				</div>
			</div>

	</body>

	<script src="/js/excanvas.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-ui.custom.js"></script>

	<script src="/js/jquery.flot.min.js"></script>
	<script src="/js/jquery.flot.resize.min.js"></script>
	<script src="/js/jquery.sparkline.min.js"></script>

	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/unicorn.js"></script>
	<script src="/js/unicorn.dashboard.js"></script>

	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/jquery.icheck.min.js"></script>

	<script src="/js/jquery.gritter.min.js"></script>
	<script src="/js/select2.min.js"></script>
	<script src="/js/unicorn.tables.js"></script>
	<script src="/javascripts/bootstrap-select.min.js"></script>
	<script src="/js/yaya-template.js"></script>
	<script src="/js/slick.js"></script>

	<%= javascript_include_tag "jquery-ujs.js" %>
	<script src="/js/jquery.ui.widget.js"></script>
	<script src="/js/jquery.iframe-transport.js"></script>
	<script src="/js/jquery.fileupload.js"></script>
	<script src="/js/jquery.xdr-transport.js"></script>
	<%= javascript_include_tag "bootstrap-editable.js" %>
	<%= javascript_include_tag "notify-custom.js" %>
	<%= javascript_include_tag "bootstrap.file-input.js" %>
	<script src="/js/datatabelext.js"></script>
	<script>
		var currenttemplate = 0;
		var currentcard = 0;
		$('#usertable').dataTable({
			"bJQueryUI" : true,
			"bLengthChange" : false,
			"sPaginationType" : "full_numbers",
			"sDom" : '<""l>t<"F"fp>',
			"bSort" : true,
			"bAutoWidth" : false,
			"aoColumns" : [null, {
				"bSortable" : false
			}, {
				"bSortable" : false
			}, {
				"bSortable" : false
			}, null, null, {
				"bSortable" : false
			}],
			"aoColumnDefs" : [{
				"bSearchable" : false,
				"bVisible" : false,
				"aTargets" : [0]
			}],
			"oLanguage" : {
				"sUrl" : "/js/datatableschn.js"
			},
			"aaSorting" : [[0, 'desc']],
		});

		$('.selectpicker').selectpicker();
		$('#templates').slick({
			arrows : true,
			lazyLoad : 'ondemand',
			//fade : true,
			//centerMode : false,
			infinite : false,
			slidesToShow : 1,
			slidesToScroll : 1,
			onAfterChange : function(ref, index) {
				currenttemplate = $(".templ[index='" + index + "']").attr("tid");
			}
		});
		$('#cards').slick({
			arrows : true,
			lazyLoad : 'ondemand',
			//fade : true,
			//centerMode : false,
			infinite : false,
			slidesToShow : 1,
			slidesToScroll : 1,
			onAfterChange : function(ref, index) {
				currentcard = $(".cards[index='" + index + "']").attr("cid");
			}
		});
		$("#connect-dialog").dialog({
			autoOpen : false,
			modal : true,
			height : 600,
			width : 620,
			//maxHeight : 900,
			//maxWidth : 680,
			resizable : false,
			title : '连接微信公众平台',
			closeText : "关闭",
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		$("#charge-dialog").dialog({
			autoOpen : false,
			modal : false,
			//maxHeight : 900,
			//maxWidth : 680,
			resizable : false,
			title : '确认充值',
			closeText : "关闭",
			appendTo : "#account-dialog",
			buttons : {
				"确认" : function() {
					var p = $(this).dialog("option", "point");
					var s = $(this).dialog("option", "shopid");
					$.post("/shops/chargeshop", {
						shopid : s,
						point : p
					}, null, "script");
					$(this).dialog("close");
				},
				"取消" : function() {
					$(this).dialog("close");
				}
			},
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});

		$("#template-dialog").dialog({
			autoOpen : false,
			modal : true,
			height : 600,
			width : 450,
			//maxHeight : 900,
			//maxWidth : 680,
			resizable : false,
			title : '请选择一个模板',
			closeText : "关闭",
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		$("#account-dialog").dialog({
			autoOpen : false,
			modal : true,
			height : 560,
			width : 450,
			//maxHeight : 900,
			//maxWidth : 680,
			resizable : false,
			title : '账户设置',
			closeText : "关闭",
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		$("#card-dialog").dialog({
			autoOpen : false,
			modal : true,
			height : 400,
			width : 450,
			//maxHeight : 900,
			//maxWidth : 680,
			resizable : false,
			title : '请选择一张会员卡',
			closeText : "关闭",
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		var dial = $("#delete-dialog").dialog({
			autoOpen : false,
			modal : false,
			resizable : false,
			buttons : {
				"删除" : function() {
					var sid = $(this).dialog("option", "shopid");
					$.post("/shops/removeshop", {
						shopid : sid
					}, null, "script");
					$(this).dialog("close");
				},
				"取消" : function() {
					$(this).dialog("close");
				}
			},
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		var onlinedialog = $("#online-dialog").dialog({
			autoOpen : false,
			modal : false,
			resizable : false,
			buttons : {
				"确认" : function() {
					var sid = $(this).dialog("option", "shopid");
					onlinecmd(sid, "online");
					$(this).dialog("close");
				},
				"取消" : function() {
					$(this).dialog("close");
				}
			},
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		var offlinedialog = $("#offline-dialog").dialog({
			autoOpen : false,
			modal : false,
			resizable : false,
			buttons : {
				"确认" : function() {
					var sid = $(this).dialog("option", "shopid");
					onlinecmd(sid, "offline");
					$(this).dialog("close");
				},
				"取消" : function() {
					$(this).dialog("close");
				}
			},
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		var newuser = $("#new-dialog").dialog({
			autoOpen : false,
			modal : true,
			resizable : false,
			dialogClass : "no-close",
			buttons : {
				"确定" : function() {
					var name = $("#shopname").val();
					var url = $("#shopurl").val()
					if (!name) {
						errormsg("shopname", "用户名不能为空");
						return;
					}
					if (name.length > 10) {
						errormsg("shopname", "商户名不能多于10个汉字");
						return;
					}
					if (!url) {
						errormsg("shopurl", "商户url不能为空");
						return;
					}
					if (name.length > 10) {
						errormsg("shopurl", "商户url不能多于10个字母");
						return;
					}
					$.post("/shops/createshop", {
						shopname : $("#shopname").val(),
						shopurl : $("#shopurl").val(),
						createtype : $("#createtype").val()
					}, null, "script");
					resetnewuserform();
					$(this).dialog("close");
				},
				"取消" : function() {
					resetnewuserform();
					$(this).dialog("close");
				}
			},
			show : {
				effect : "drop",
				duration : 400,
				direction : "up"
			},
			hide : {
				effect : "drop",
				duration : 400,
				direction : "down"
			}
		});
		//$( "#delete-dialog" ).resizable({ disabled: true });
		function setTemplate(ref) {
			var id = $(ref).parent().attr("rid");
			var usertemplate = $(ref).attr("templateid");
			var i = $("#temp" + usertemplate).attr('index');
			var s = parseInt(i);
			$("#template-dialog").dialog("option", {
				shopid : id,
				templateid : usertemplate
			});
			// $('.multiple-items').reInit();
			$('#templates').slickGoTo(s);
			$("#template-dialog").dialog("open");
		}

		function setConnect(ref) {
			var id = $(ref).parent().attr("rid");
			$.post("/shops/shopconnect", {
				shopid : id
			}, null, "script")

		}

		function setCard(ref) {
			var id = $(ref).parent().attr("rid");
			var memcardid = $(ref).attr("cardid");
			var i = $("#card" + memcardid).attr('index');
			var s = parseInt(i);
			$("#card-dialog").dialog("option", {
				shopid : id,
				cardid : memcardid
			});
			// $('.multiple-items').reInit();
			$('#cards').slickGoTo(s);
			$("#card-dialog").dialog("open");
		}

		function setAccount(ref) {
			var id = $(ref).parent().attr("rid");

			$.post("/shops/shopaccount", {
				shopid : id
			}, null, "script")
		}

		function errormsg(obj, str) {
			$("#" + obj).notify(str, {
				className : "error",
				arrowShow : true,
				position : "top",
				autoHideDelay : 4000
			});
		}

		function delconfirm(ref) {
			var sid = $(ref).parent().attr("rid");
			$("#delete-dialog").dialog("option", "shopid", sid);
			$("#delete-dialog").dialog("open");
			return false;
		}

		function showmsg(title, msg) {
			$.gritter.add({
				title : title,
				text : msg,
				//image : 'img/demo/envelope.png',
				sticky : false,
			});
		}

		function createuser() {
			$("#new-dialog").dialog("open");
			return false;
		}

		function removesucc(shopname, shopid) {
			$usertable = $("#usertable").dataTable();
			var ele = document.getElementById("row" + shopid);
			var pos = $usertable.fnGetPosition(ele);
			$usertable.fnDeleteRow(pos);
			$.gritter.add({
				title : '删除成功',
				text : '商家' + shopname + '已经被删除.',
				//image : 'img/demo/envelope.png',
				sticky : false,
			});
		}

		function resetnewuserform() {
			$("#shopname").val("");
			$("#shopurl").val("");
		}

		function addtotable(vsid, vsname, vsurl, vstartdate, vexpdate, vtemplate, vmemcard) {
			var template = YayaTemplate(document.getElementById("shoptemplate").innerHTML);
			var str = template.render({
				sid : vsid,
				sname : vsname,
				surl : vsurl,
				startdate : vstartdate,
				expdate : vexpdate,
				templateid : vtemplate,
				membercardid : vmemcard
			});

			$usertable = $("#usertable").dataTable();
			var divtr = document.createElement('tr');
			$(divtr).html(str);
			$(divtr).attr('id', 'row' + vsid);
			$(divtr).attr('class', 'offlinecol');
			$usertable.fnAddTr(divtr);
		}

		function online(ref) {
			rid = $(ref).parent().attr('rid');
			status = $.trim($(ref).html());
			if (status == "启动") {
				$("#online-dialog").dialog("option", "shopid", rid);
				$("#online-dialog").dialog("open");
				return false;
			}
			if (status == "停止") {
				$("#offline-dialog").dialog("option", "shopid", rid);
				$("#offline-dialog").dialog("open");
				return false;
			}
			return false;
		}

		function onlinecmd(refs, cmd) {
			$.post("/shops/onlineshop", {
				shopid : refs,
				operation : cmd
			}, null, "script")
		}

		function onlinefail(shopname) {
			$.gritter.add({
				title : '启动失败',
				text : '商家:' + shopname + '的服务已经过期',
				//image : 'img/demo/envelope.png',
				sticky : false,
			});
		}

		function offlinesuccess(shopname) {
			$.gritter.add({
				title : '停止成功',
				text : '商家:' + shopname + '的服务已经被停止',
				sticky : false,
			});
		}

		function onlinesuccess(shopname, id) {
			var btn = $("#rec" + id).find('button').eq(0);
			var row = $("#row" + id).find('td').eq(2);
			btn.removeClass("btn-success").addClass("btn-danger");
			btn.html("停止");
			row.html("<span class='status'>运行中</span>");
			$("#row" + id).removeClass("offlinecol").addClass("onlinecol");
			$.gritter.add({
				title : '启动成功',
				text : '商家:' + shopname + '的服务已经启动',
				sticky : false,
			});
		}

		function offlinesuccess(shopname, id) {
			var btn = $("#rec" + id).find('button').eq(0);
			var row = $("#row" + id).find('td').eq(2);
			btn.removeClass("btn-danger").addClass("btn-success");
			btn.html("启动");
			row.html("<span class='status'>停止中</span>");
			$("#row" + id).removeClass("onlinecol").addClass("offlinecol");
			$.gritter.add({
				title : '成功停止',
				text : '商家:' + shopname + '的服务已经停止',
				sticky : false,
			});
		}

		function updatetempsuccess(sid, shopname, templateid) {
			$("#shoppage" + sid).attr('templateid', templateid);
			$.gritter.add({
				title : '界面更新成功',
				text : '商家:' + shopname + '的页面已经更新.',
				sticky : false,
			});
		}

		function updatecardsuccess(sid, shopname, cardid) {
			$("#shopcard" + sid).attr('cardid', cardid);
			$.gritter.add({
				title : '卡片更新成功',
				text : '商家:' + shopname + '的会员卡已经更新.',
				sticky : false,
			});
		}

		function savetemplate() {
			var shop_id = $("#template-dialog").dialog("option", "shopid");
			$.post("/shops/updateusertemplate", {
				shopid : shop_id,
				templateid : currenttemplate
			}, null, "script")
			$("#template-dialog").dialog("close");
		}

		function savecard() {
			var shop_id = $("#card-dialog").dialog("option", "shopid");
			$.post("/shops/updatemembercard", {
				shopid : shop_id,
				card_id : currentcard
			}, null, "script")
			$("#card-dialog").dialog("close");
		}

		function shopconnect(seckey, token,shopid,aid,asec) {
			var template = YayaTemplate(document.getElementById("connect-template").innerHTML);
			var str = template.render({
				wxurl : seckey,
				wxtoken : token,
				sid:shopid,
				appid:aid,
				appsec:asec
			});

			$("#addmenu-dialog").dialog({
				autoOpen : false,
				modal : false,
				//maxHeight : 900,
				//maxWidth : 680,
				resizable : false,
				title : '添加菜单',
				closeText : "关闭",
				appendTo : "#connect-dialog",
				buttons : {
					"确认" : function() {
						menuprocess();
						$(this).dialog("close");
					},
					"取消" : function() {
						$(this).dialog("close");
					}
				},
				show : {
					effect : "drop",
					duration : 400,
					direction : "up"
				},
				hide : {
					effect : "drop",
					duration : 400,
					direction : "down"
				}
			});

			$("#addmenu2-dialog").dialog({
				autoOpen : false,
				modal : false,
				//maxHeight : 900,
				//maxWidth : 680,
				resizable : false,
				title : '添加二级菜单',
				closeText : "关闭",
				appendTo : "#connect-dialog",
				buttons : {
					"确认" : function() {
						var s = $(this).dialog("option", "level1");
						menuprocess2(s);
						$(this).dialog("close");
					},
					"取消" : function() {
						$(this).dialog("close");
					}
				},
				show : {
					effect : "drop",
					duration : 400,
					direction : "up"
				},
				hide : {
					effect : "drop",
					duration : 400,
					direction : "down"
				}
			});

			$("#changemenu-dialog").dialog({
				autoOpen : false,
				modal : false,
				//maxHeight : 900,
				//maxWidth : 680,
				resizable : false,
				title : '修改菜单',
				closeText : "关闭",
				appendTo : "#connect-dialog",
				buttons : {
					"确认" : function() {
						var i = $(this).dialog("option", "index");
						var lv = $(this).dialog("option", "level");
						if (lv == 1) {
							var $destbtn = $("#menuset").children().eq(i).children("span.title_c");
						} else {
							var lv2 = parseInt($(this).dialog("option", "lv2id"));
							var $destbtn = $("#menuset").children().eq(i).children("div").eq(lv2 - 1).children("span.title_c");
						}
						var $title = $("#menutitle_c").val()
						var $url = $("#menuurl_c").val();
						$destbtn.html($title);
						$destbtn.attr("url", $url);
						$(this).dialog("close");
					},
					"取消" : function() {
						$(this).dialog("close");
					}
				},
				show : {
					effect : "drop",
					duration : 400,
					direction : "up"
				},
				hide : {
					effect : "drop",
					duration : 400,
					direction : "down"
				}
			});

			$("#connect-inner").replaceWith(str);
			$('#appid').editable({
				type : 'text',
				mode : 'popup',
				rows : 1,
				emptytext : '请点击此处输入',
				url : '/shops/updateappinfo/'+shopid,
				pk : 'appid',
				ajaxOptions : {
					type : 'post'
				}
			});
			$('#appsec').editable({
				type : 'text',
				mode : 'popup',
				rows : 1,
				emptytext : '请点击此处输入',
				url : '/shops/updateappinfo/'+shopid,
				pk : 'appsec',
				ajaxOptions : {
					type : 'post'
				}
			});
			loadmenu(shopid);
			$("#connect-dialog").dialog("open");
		}
		
		function loadmenu(sid){
			$.ajax({
				url : "/wxinterface/loadmenu",
				dataType : 'json',
				//contentType : 'application/json; charset=UTF-8', // This is the money shot
				data : {shopid:sid},
				type : 'POST',
				complete: function (data, status) {
					  if (status=='success'){
					  	m=data.responseJSON.menus;
					  	generatemenu(m);
					  }
					  else{
					  	
					  }
                }
				//complete :
				//menusavesucc() // etc
			  });
		}

       function generatemenu(menu){
       	         var level1=-1;
       	         var level2=0;
       	         for (m in menu)
                 {
                 
                // $("#menuset").append("<button class='btn btn-default menu_level1' status='closed' style='height:90%'><span class='title_c' url='" + $("#menuurl").val() + "'>" + $("#menutitle").val() + "</span><span class='config config_open' onclick='showsubmenu(this)'>展开</span>&nbsp;&nbsp;<span class='config config_change' onclick='configmenu(this,1);'>修改</span>&nbsp;&nbsp;<span class='config config_del' onclick='removemenu(this);'>刪除</span></button>");
                     if(!menu[m].parent_id){
                      $("#menuset").append("<button class='btn btn-default menu_level1' status='closed' style='height:90%'><span class='title_c' url='" + menu[m].url + "'>" + menu[m].name + "</span><span class='config config_open' onclick='showsubmenu(this)'>展开</span>&nbsp;&nbsp;<span class='config config_change' onclick='configmenu(this,1);'>修改</span>&nbsp;&nbsp;<span class='config config_del' onclick='removemenu(this);'>刪除</span></button>");
                      level1=level1+1;
                      level2=0;
                     }
                     else{
                     	obj=$("#menuset").children('button').eq(level1);
                     	obj.append("<div class='btn btn-default secondmenu'><span class='title_c' url='" + menu[m].url + "'>" + menu[m].name +
              "</span><span class='config config_change' onclick='configmenu(this,2);'>修改</span>&nbsp;&nbsp;<span class='config config_del' onclick='removemenu2(this);'>刪除</span></div>");
                        dest=obj.children('div').last();
                        level2=level2+1;
                        dest.addClass("menu_" + level2);
			            dest.attr("lv2", level2);
                     }
                  }
                  if (level1==0){
                  	$(".menu_level1").css('width','100%');
                  }
                  if (level1==1){
                  	$(".menu_level1").css('width','49%');
                  }
                  if (level1==2){
                  	$(".menu_level1").css('width','32%');
                  }
                  
                  $('.menu_level1').hover(function() {
				     $(this).find('span.config').show();
			         }, function() {
				     $(this).find('span.config').hide();
			      });
       	         //menu.each(function(){alert("ddd");});
       }


		function shopaccount(id, exp, logo, phone, oemname, oemurl) {
			var template = YayaTemplate(document.getElementById("account-template").innerHTML);
			var str = template.render({
				sid : id,
				expdate : exp,
				slogo : logo,
				sphone : phone,
				sname : oemname,
				surl : oemurl
			});
			$("#account-inner").replaceWith(str);
			$('input[type=file]').bootstrapFileInput();
			$('.file-inputs').bootstrapFileInput();
			$('#oemname').editable({
				type : 'text',
				mode : 'popup',
				rows : 1,
				emptytext : '空',
				url : '/shops/updateoem/' + id,
				pk : 'oemname',
				ajaxOptions : {
					type : 'post',
				}
			});

			$('#oemurl').editable({
				type : 'text',
				mode : 'popup',
				rows : 1,
				url : '/shops/updateoem/' + id,
				pk : 'oemurl',
				emptytext : '空',
				ajaxOptions : {
					type : 'post',
				}
			});

			$("#account-dialog").dialog("open");
			$('#fileupload').fileupload({
				dataType : 'json',
				done : function(e, data) {

					var s = data.result.url;
					//var str=JSON.stringify(s)
					$("#currentlogo").attr('src', s);
					//$.each(data.result.files, function(index, file) {
					//$('<p/>').text(file.name).appendTo(document.body);
					//});
				}
			});

		}

		function urlexist(url) {
			$.gritter.add({
				title : '商户创建失败',
				text : 'URL:' + url + '已经存在，请重新选择.',
				sticky : false,
			});
		}

		function chargeconfirm(sid) {
			var s = $("#charge-input").val();
			if (s && s.match(/^\+?[1-9][0-9]*$/)) {
				$("#month-span").html(s);
				$("#point-span").html(s);
				$("#charge-dialog").dialog("option", {
					shopid : sid,
					point : s
				});
				$("#charge-dialog").dialog("open");
			}
		}

		function addmenu() {

			if ($("#menuset").children().length == 3) {
				$.gritter.add({
					title : '操作失败',
					text : '一级菜单最多只能有三个',
					sticky : false
				});
				return;
			}
			$("#addmenu-dialog").dialog("option", {
				level1 : 1,
				level2 : 2
			});
			$("#menutitle").val("");
			$("#menuurl").val("");
			$("#addmenu-dialog").dialog("open");
			//}
		}

		function addmenu2() {
			var level1len = $("#menuset").children().length;
			if (level1len == 0) {
				$.gritter.add({
					title : '操作失败',
					text : '必须要有一级菜单',
					sticky : false
				});
				return;
			}

			$("#menuselect option").remove();
			$("#menutitle2").val("");
			$("#menuurl2").val("");

			$("#menuset").children().each(function(index) {
				$("#menuselect").append($("<option></option>").attr("value", index).text($(this).find('span.title_c').html()));
			});

			//$("#menuselect").append($("<option></option>").attr("value", "值").text("文字"));
			$("#addmenu2-dialog").dialog("option", {
				level1 : 1,
				level2 : 2
			});
			$("#addmenu2-dialog").dialog("open");
		}

		function chargesucc(sid, shopname, expdate) {
			$.gritter.add({
				title : '充值成功',
				text : '商家 ' + shopname + '已经延期到:' + expdate,
				sticky : false,
			});
			$("#expdate-span").html(expdate);
			$("#row" + sid + ">td:eq(4)").html(expdate);
		}

		function connectwx() {
			$.post("/shops/connectwx", {
				appid : 'wxf2fae02e8ee92f67',
				secid : '769c913b919b850e94f90d6ddf8c2273'
			}, null, "script")
		}

		function addlevel1() {
			if ($("#menuset").attr("level1") == "0") {
				$("#menuset").html("<button class='btn btn-primary'>hello</button>");
			}
		}

		function configmenu(ref, lv) {
			var $target = $(ref).siblings().eq(0);
			var title = $target.html();
			var url = $target.attr("url");
			$("#menutitle_c").val(title);
			$("#menuurl_c").val(url);
			if (lv == 1) {
				var ind = $("#menuset > button").index($(ref).parent());
				$("#changemenu-dialog").dialog("option", {
					index : ind,
					level : lv
				});
			}
			if (lv == 2) {
				var ind = $("#menuset > button").index($(ref).parent().parent());
				$("#changemenu-dialog").dialog("option", {
					index : ind,
					level : lv,
					lv2id : $target.parent().attr('lv2')
				});
			}
			$("#changemenu-dialog").dialog("open");
		}

		function removemenu(ref) {
			var menunum = $(ref).parent().siblings().length;
			if (menunum == 1) {
				$(ref).parent().remove();
				$(".menu_level1").css("width", "100%");
				return;
			}
			if (menunum == 2) {
				$(ref).parent().remove();
				$(".menu_level1").css("width", "49%");
				return;
			}
			$(ref).parent().remove();
		}

		function removemenu2(ref) {
			var divs = $(ref).parent().siblings('div');
			var menunum = divs.length + 1;
			var ind = $(ref).parent().attr("lv2");
			if (ind == menunum) {
				$(ref).parent().remove();
			} else {
				divs.each(function(index) {
					var lv = $(this).attr("lv2");
					var newlv = lv - 1;
					if (lv > ind) {
						$(this).removeClass("menu_" + lv).addClass("menu_" + newlv);
						$(this).attr('lv2', newlv);
						$(ref).parent().remove();
					}
				});

				//$(ref).parent().remove();
			}
		
		}

		function menuprocess() {
			$("#menuset").append("<button class='btn btn-default menu_level1' status='closed' style='height:90%'><span class='title_c' url='" + $("#menuurl").val() + "'>" + $("#menutitle").val() + "</span><span class='config config_open' onclick='showsubmenu(this)'>展开</span>&nbsp;&nbsp;<span class='config config_change' onclick='configmenu(this,1);'>修改</span>&nbsp;&nbsp;<span class='config config_del' onclick='removemenu(this);'>刪除</span></button>");
			var menunum = $("#menuset").children().length;
			if (menunum == 1) {
				$(".menu_level1").css("width", "100%");
			}
			if (menunum == 2) {
				$(".menu_level1").css("width", "49%");
			}

			if (menunum == 3) {
				$(".menu_level1").css("width", "32%");
			}

			$('.menu_level1').hover(function() {

				$(this).find('span.config').show();
			}, function() {
				$(this).find('span.config').hide();
			});
		}

		function menuprocess2() {

			//<a data-toggle="dropdown" href="#">Dropdown trigger</a>
			var target = $("#menuselect").val();
			var index = parseInt(target);
			var obj = $("#menuset").children().eq(index);
			var s = obj.children("div").length;
			if (s == 5) {
				$.gritter.add({
					title : '操作失败',
					text : '二级菜单最多5项',
					//image : 'img/demo/envelope.png',
					sticky : false,
				});
				return;
			}
			s = s + 1;
			//var $str=$("#menuset").children(index);
			obj.append("<div class='btn btn-default secondmenu'><span class='title_c' url='" + $("#menuurl2").val() + "'>" + $("#menutitle2").val() + "</span><span class='config config_change' onclick='configmenu(this,2);'>修改</span>&nbsp;&nbsp;<span class='config config_del' onclick='removemenu2(this);'>刪除</span></div>");
			var s = obj.children("div").length;
			var dest = obj.children("div").last();
			dest.addClass("menu_" + s);
			dest.attr("lv2", s);
		}

		function showsubmenu(ref) {
			var mainmenu = $(ref).parent();
			var menus = mainmenu.find("div.secondmenu");
			if (menus.length > 0) {
				var status = mainmenu.attr("status");
				if (status == "closed") {
					menus.show();
					mainmenu.attr('status', 'opened');
					mainmenu.children().eq(1).html("收起");
					return;
				}

				if (status == "opened") {
					menus.hide();
					mainmenu.attr('status', 'closed');
					mainmenu.children().eq(1).html("展开");
					return;
				}

			} else {
				return;
			}
		}

		function menusavesucc() {
			$.gritter.add({
				title : '成功',
				text : '菜单保存成功',
				sticky : false,
			});
		}

		function savemenu() {
			lv1 = $("#menuset").children('button');
			shopid=$.trim($("#connect-sid").html());
			data = {};
			data.menus = [];
			lv1.each(function(index) {
				m = $(this).children().eq(0);
				m1 = {};
				m1.title = m.html();
				m1.url = m.attr("url");
				m1.key="";
				m1.type="link";
				m1.sid=shopid;
				id1=index*6;
				m1.id=id1;
				//menu.push(m.html());
				//menu.push(m.attr("url"));
				//data.menus[index]=m1;
				data.menus.push(m1);
				m2 = $(this).children('div');
				m2.each(function(index2) {
				menu2 = {};
				m2s = $(this).children().eq(0);
				menu2["title"] = m2s.html();
				menu2["url"] = m2s.attr("url");
				menu2.key="";
				menu2.type="link";
				menu2.sid=shopid;
				menu2.id=id1+index2+1;
				data.menus.push(menu2);
				});
			});
			if(data.menus.length>0)
			{
			$.ajax({
				url : "/wxinterface/menuset",
				dataType : 'json',
				//contentType : 'application/json; charset=UTF-8', // This is the money shot
				data : data,
				type : 'POST',
				complete: function (data, status) {
                	$.gritter.add({
				      title : '成功',
				      text : '菜单保存成功',
				      sticky : false,
			          });
                }
				//complete :
				//menusavesucc() // etc
			  });
			 }
			else{
				$.gritter.add({
				      title : '保存失败',
				      text : '无法保存空菜单',
				      sticky : false,
			          });
			}
			//alert(JSON.stringify(data));
		}

		function pubmenu() {
			sid=$.trim($("#connect-sid").html());
			aid=$.trim($("#appid").html());
			asec=$.trim($("#appsec").html());
			$.post("/wxinterface/pubmenu", {
						shopid : sid,
						appid:aid,
						appsec:asec
					}, null, "script");
					//$(this).dialog("close");
		}

	</script>
	<script type="text/template" id="shoptemplate">
		{$
		<td>{%sid%}</td>
		<td class="col-sm-2 col-md-2 col-lg-2" style="text-align: center">{%sname%}</td>
		<td class="col-sm-2 col-md-2 col-lg-2" style="text-align: center">{%surl%}</td>
		<td class="col-sm-1 col-md-1 col-lg-1" style="text-align: center" class="taskStatus"><span class="status">停止中</span></td>
		<td class="col-sm-2 col-md-2 col-lg-2" style="text-align: center">{%startdate%}</td>
		<td class="col-sm-2 col-md-2 col-lg-2"class="centercol"  style="text-align: center">{%expdate%}</td>
		<td class="col-sm-3 col-md-3 col-lg-3 " style="text-align: center">

		<button class="btn btn-success btn-sm" onclick="online(this);return false;">
		启动
		</button>

		<button class="btn btn-dark-blue btn-sm" onclick="setTemplate(this);return false;" id="shoppage{%sid%}" templateid="{%templateid%}">
		页面
		</button>
		<button class="btn btn-dark-blue btn-sm" onclick="setCard(this);return false;" id="shopcard{%sid%}" cardid="{%membercardid%}">
		卡片
		</button> </br>

		<button class="btn btn-dark-blue btn-sm" onclick="setConnect(this);return false;">
		连接
		</button>

		<button class="btn btn-dark-blue btn-sm" onclick="setAccount(this);return false;">
		账户
		</button>

		<button class="btn btn-dark-red btn-sm del-modal" onclick="delconfirm(this);return false">
		删除
		</button></td>
		$}
	</script>

	<script type="text/template" id="connect-template">
		{$
		<div id="connect-inner">
		<div id="connect-sid"  id="connectsid" style="display: none">{%sid%}</div>	
		<div class="widget-box">
		<div class="widget-title">
		<h5>连接参数</h5>
		</div>
		<div class="widget-content">
		<table class="table table-bordered table-striped table-hover">

		<tbody>
		<tr>
		<td>
		URL
		</td>
		<td>
		http://www.weexing.com/wx/{%wxurl%}
		</td>

		</tr>
		<tr>
		<td>
		Token
		</td>
		<td>
		{%wxtoken%}
		</td>
		</tr>
		<tr>
		<td>
		Appid
		</td>
		<td>
		<div id="appid">{%appid%}</div>
		</td>
		</tr>
		<tr>
		<td>
		AppSecret
		</td>
		<td>
		<div id="appsec">{%appsec%}</div>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		</div>

		<div class="widget-box">
		<div class="widget-title">
		<h5>微信菜单设置</h5>
		</div>
		<div class="widget-content">
		<table class="table table-bordered table-striped table-hover">

		<tbody>
		<tr>
		<td>
		微信普通账号菜单
		</td>
		<td>
		http://www.weexing.com/weixin
		</td>

		</tr>
		<tr>
		<td>
		微信认证账号菜单
		</td>
		<td>
		http://www.weexing.com/weixing
		</td>
		</tr>
		</tbody>
		</table>
		<div class="table-bordered" style="padding-bottom:0px;postion:absolute">
		<div style="display:inline-block;margin:5px;width:25%"><button class="btn btn-primary" onclick="addmenu()"><span class="glyphicon glyphicon-plus"></span>一级菜单</button><br><button onclick="addmenu2()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>二级菜单</button></div>
		<div id="menuset" level1="0" style="display:inline-block;border:dashed 1px;width:72%;height:65px;bottom:55px;position:absolute;right:30px;padding:2px;text-align: center">
		</div>
		</div>

		<div class="row">
		<div class="pull-right" style="text-align: right;">
		<button class="btn btn-default" onclick="savemenu();return false;"><span class="glyphicon glyphicon-floppy-save">&nbsp;保存</button>
		<button class="btn btn-success" onclick="pubmenu();return false;"><span class="glyphicon glyphicon-send">&nbsp;发布</button>
		</div>
		</div>

		</div>
		</div>
		</div>
		$}
	</script>

	<script type="text/template" id="account-template">
		{$
		<div id="account-inner">
		<div class="widget-box">
		<div class="widget-title">
		<h5>商户启用</h5>
		</div>
		<div class="widget-content">
		<div class="row">
		<div class="col-sm-7 col-md-7 col-lg-7" style="padding-top:16px">

		截止日期:<span id="expdate-span">{%expdate%}</span>
		</div>
		<div class="col-sm-5 col-md-5 col-lg-5">
		<div class="input-group input-group-sm pull-right">
		<span class="input-group-btn">
		<button class="btn btn-dark-green btn-sm" onclick="chargeconfirm({%sid%});">续费</button>
		</span>
		<input type="text" class="form-control" id="charge-input">
		<span class="input-group-btn">
		<a href="#" class="btn">个月</a>
		</span>
		</div>
		</div>
		</div>
		</div>
		</div>

		<div class="widget-box">
		<div class="widget-title">
		<h5>店铺LOGO上传</h5>
		</div>
		<div class="widget-content">
		<div class="row">
		<div class="col-xs-7"><img id="currentlogo" src="{%slogo%}" width="100" height="100" style="border:grey solid"/></div>

		<div>
		<input id="fileupload" title="选择一个LOGO" type="file" name="pic" data-url="/shops/updatelogo/{%sid%}" multiple></br>
		<span style="font-size:10px;color:blue">logo应该为透明png</span></br>
		<span style="font-size:10px;color:blue">100x100像素</span></br>
		<span style="font-size:10px;color:blue">小于100K</span>
		</div>
		</div>
		</div>

		</div>

		<div class="widget-box">
		<div class="widget-title">
		<h5>OEM信息(点击修改)</h5>
		</div>
		<div class="widget-content">
		<div class="row">
		<div class="col-xs-3">
		<b>公司名称:</b></div> <div id="oemname" class="col-xs-9">{%sname%}</div>
		</div>
		</br>
		<div class="row">
		<div class="col-xs-3"><b>公司网址:</b></div> <div id="oemurl" class="col-xs-9">{%surl%}</div></div>

		</div>

		</div>
		<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12	"><button class="btn btn-dark-green pull-right" onclick="$('#account-dialog').dialog('close');">确定</button></div>
		</div>
		</div>
		$}
	</script>

</html>
