<!DOCTYPE html>
<html>
	<head>
		<title>Bootstrap 101 Template</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Bootstrap -->
		<%= stylesheet_link_tag "bootstrap.css" %>
		<%= stylesheet_link_tag "bootstrap-theme.css" %>
		<%= stylesheet_link_tag "pagenate.css" %>
		<%= stylesheet_link_tag "datepicker3.css" %>
		<%= stylesheet_link_tag "bootstrap-select.min.css" %>

		<%= stylesheet_link_tag "bootstrap-editable.css" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
		<%= javascript_include_tag "jquery-191.js" %>
		<%= javascript_include_tag "jquery-ujs.js" %>
		<%= javascript_include_tag "notify-custom.js" %>
		<%= javascript_include_tag "bootstrap.file-input.js" %>
		<%= javascript_include_tag "jquery.iframe-transport.js" %>
		<%= javascript_include_tag "jquery.remotipart.js" %>
		<%= javascript_include_tag "jquery-ui-1.10.4.custom.js" %>
		<%= javascript_include_tag "bootstrap.js" %>
		<%= javascript_include_tag "bootstrap-editable.js" %>
		<%= javascript_include_tag "bootstrap-datepicker.js" %>
		<%= javascript_include_tag "bootstrap-datepicker.zh-CN.js" %>
		<%= javascript_include_tag "bootstrap-select.min.js" %>

	</head>
	<style>
		.editab {

		}