<!DOCTYPE html>
<html>
	<head>
		<title><%= @shop.name%>&nbsp;会员卡</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Bootstrap -->
		<%= stylesheet_link_tag "bootstrap.css" %>
		<%= stylesheet_link_tag "bootstrap-theme.css" %>
		<%= stylesheet_link_tag "datepicker3.css" %>
		<%= stylesheet_link_tag "bootstrap-select.min.css" %>

		<link rel="stylesheet" href="/css/unicorn.css" />

		<%= stylesheet_link_tag "bootstrap-editable.css" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
		<%= javascript_include_tag "jquery-191.js" %>
		<%= javascript_include_tag "jquery-ujs.js" %>
		<%= javascript_include_tag "notify-custom.js" %>
		<%= javascript_include_tag "bootstrap.file-input.js" %>
		<%= javascript_include_tag "jquery.iframe-transport.js" %>
		<%= javascript_include_tag "jquery.remotipart.js" %>
		<%= javascript_include_tag "jquery-ui-1.10.4.custom.js" %>
		<%= javascript_include_tag "bootstrap.js" %>
		<%= javascript_include_tag "bootstrap-editable.js" %>
		<%= javascript_include_tag "bootstrap-datepicker.js" %>
		<%= javascript_include_tag "bootstrap-datepicker.zh-CN.js" %>
		<%= javascript_include_tag "bootstrap-select.min.js" %>
		<%= javascript_include_tag "jquery.unveil.min.js" %>

		<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
		<link href="/stylesheets/bootstrap-ie78.css" rel="stylesheet">
		<![endif]-->

		<!--[if lt IE 8]>

		<![endif]-->

	</head>
	<style>
		.editab {
		}
		a:hover, a:focus {
			text-decoration: none;
		}
		.modal-dialog-center {/* Edited classname 10/03/2014 */
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		hr {
			margin-bottom: 5px;
			margin-top: 5px;
		}
		.no-close .ui-dialog-titlebar-close {
			display: none;
		}
		body {
			background-color: #eee;
		}
		.controls {
			margin-bottom: 10px;
		}
		td.coupongrid {
			padding-top: 50px;
		}
		.table > tbody > tr > td {
			vertical-align: middle;
			padding-left: 5px
		}
		.field {
			margin-top: 10px
		}
		.number {
			display: inline-block;
			margin-right: 15px;
		}
		.badge-success {
			background-color: #5CB85C;
		}
		.badge-inverse {
			background-color: #333;
		}
		.badge-usd {
			color: dimgray;
			display: block;
			margin-top: 5px
		}
		.remotedialog {
			cursor: pointer
		}
		.editab {
			text-align: center
		}
	</style>
	<body>

		<div id ="headerv" class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="width:1000px ">
					<div class="rows">
						<div class="col-xs-10">
							<div class="brand" style="color:#CCCCCC">
								<div style="display: inline-block; vertical-align: bottom;margin-left: 20px">
									<h1><%= @shop.name%></h1>
								</div>

							</div>
						</div>
						<div class="col-xs-2">
							<div style="padding-top: 30px;padding-left: 80px">
								<a id="logout" href="#" onclick="logout()" style="color:#3071A9"><h4><b>退出</b></h4></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id ="body" class="container" style="padding-top:130px;width:1000px">
			<div class="rows" >
				<div class="col-xs-3">
					<div class="list-group">
						<a href="#" class="list-group-item active" id="menu_users" onclick="togglepage('menu_users')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<b>客户管理</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">储值 积分 卡号</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_coupons" onclick="togglepage('menu_coupons')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;<b>优惠券</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布 兑换</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_shopinfo" onclick="togglepage('menu_shopinfo')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-home"></span>&nbsp;&nbsp;<b>店铺信息</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布  修改</h6>
						</p> </a>
					</div>
				</div>
				<div class="col-xs-9">
					<div id="menu_users_panel" class="panel panel-default" style="">
						<div class="panel-heading">
							会员列表
						</div>

						<div class="panel-body" >
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-10"></div><!-- /.col-lg-6 -->

									<div class="col-xs-2">
										<button class="btn btn-success" type="button" onclick="newuser()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;新用户
										</button>
									</div>

								</div>
							</div>
							<div id="pbody_customer">
								<table class="table table-bordered table-striped table-hover data-table" id="customertable">
									<thead>
										<tr>
											<th>id</th>
											<th>微信卡号</th>
											<th>实体卡号</th>
											<th>级别</th>
											<th>电话</th>
											<th>余额</th>
											<th>积分</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="cusbody">

										<% @customers.each do |customer| %>
										<tr id="cusrow<%= customer.id%>">
											<td class="editab"><%= customer.id%></td>
											<td class="editab"><%= customer.cardid%></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="realcardid<%= customer.id%>"><%= customer.realcardid%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="level<%= customer.id%>"><%= customer.level%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="phone<%= customer.id%>"><%= customer.phone%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="balance<%= customer.id%>"><%= customer.balance%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="bonus<%= customer.id%>"><%= customer.bonus%></a></td>
											<td style="text-align: center">
											<button type="button" class="btn btn-primary" recordid="<%= customer.id%>" onclick="operate(this)" id="changebtn<%= customer.id%>">
												修改
											</button>
											<button type="button" class="btn btn-danger" recordid="<%= customer.id%>" onclick="delconfirm(this)" id="deletebtn<%= customer.id%>">
												删除
											</button></td>
										</tr>
										<% end %>
									</tbody>
								</table>
								<div class="container" style="width: 680px">
									<p class="text-muted" style="text-align:right; padding-top: 20px">
										<%= @shop.name%>  2014 &nbsp; &nbsp;&nbsp;由&nbsp;<a href="<%= @shop.oemurl%>"><%= @shop.oemname%></a>&nbsp;提供支持.
									</p>
								</div>

							</div>

						</div>
					</div>

					<div id="menu_coupons_panel" class="panel panel-default" style="display:none">
						<div class="panel-heading">
							优惠券
						</div>

						<div class="panel-body">
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-12">
										<button class="btn btn-success pull-right" type="button" onclick="newcoupon()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;<b>添加优惠券</b>
										</button>
									</div><!-- /.col-lg-6 -->

								</div>
							</div>

							<div id="pbody_coupon">
								<table class="table table-bordered table-striped table-hover data-table" id="coupontable">
									<thead>
										<tr>
											<th></th>
											<th>&nbsp;&nbsp;&nbsp;&nbsp;图片</th>
											<th>标题</th>
											<th>类别</th>
											<th>开始日期</th>
											<th>截止日期</th>
											<th></th>
										</tr>
									</thead>

									<% @coupons.each do |coupon| %>
									<tr id="couprow<%= coupon.id%>">
										<td class="editab"><%= coupon.id%></td>
										<td class="editab"><img src="/images/loader.gif" data-src="<%= coupon.pic.url(:thumb) %>" width="70" height="70"></td>
										<td class="editab" data-toggle="tooltip" data-placement="top" title="详情:<%= coupon.content%>"><%= coupon.title%></td>
										<td class="editab"><%= coupon.usertype%></td>
										<td class="editab"><%= coupon.startdate%></td>
										<td class="editab"><%= coupon.enddate%></td>
										<td style="text-align: center"> <%if coupon.sent== 0%>
										<button type="button" class="btn btn-primary" coupid="<%= coupon.id%>" onclick="pubcoupconfirm(this)" id="couppubbtn<%= coupon.id%>">
											发布
										</button>
										<button type="button" class="btn btn-danger" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button><%else%>

										<%if coupon.enddate > DateTime.now%>
										<div class="number">

											<%if coupon.coupon_req == 0%><a href="#" data-target="#requestcoupon" id="coup_req_id<%= coupon.id%>" coupid="<%= coupon.id%>"><span class="badge" id="couponbadge<%= coupon.id%>"><%else%><a class="remotedialog" onclick="openrecycle(this)" id="coup_req_id<%= coupon.id%>" coupid="<%= coupon.id%>"><span class="badge badge-success" id="couponbadge<%= coupon.id%>"><%end%>待兑换 <span id="couponreq<%= coupon.id%>"><%= coupon.coupon_req%></span><span></a> <a href="#"> <span class="badge" style="color:dimgray;display:block;margin-top:5px">已兑换<span id="couponusd<%= coupon.id%>"><%= coupon.coupon_usd%></span> </span></a>
										</div>
										<button type="button" class="btn btn-success" style="position: relative;bottom:12px"  coupid="<%= coupon.id%>" onclick="pubcouprefresh(this)" id="couprefreshbtn<%= coupon.id%>">
											刷新
										</button> <%else%>
										<div class="number">
											<a href="#"> <span class="badge" style="color:dimgray;display:block ">已兑换 <%= coupon.coupon_usd%></span></a>
										</div>
										<button type="button" class="btn btn-danger"  style="position: relative;bottom:2px" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button> <%end%><%end%> </td>
									</tr>
									<% end %>
								</table>
								<div class="container" style="width: 680px">
									<p class="text-muted" style="text-align:right; padding-top: 20px">
										<%= @shop.name%>  2014 &nbsp; &nbsp;&nbsp;Designed By&nbsp;<a href="http://www.weexing.com">微行微系统</a> .
									</p>
								</div>

							</div>
						</div>
					</div>

					<div id="menu_shopinfo_panel" class="panel panel-default" style="height:700px;display:none">
						<div class="panel-heading">
							店铺信息
						</div>
						<div class="panel-body">
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-6">
										<button class="btn btn-primary" type="button" onclick="changepass()" id="changepwdbtn">
											<span class="glyphicon glyphicon-lock"></span>&nbsp;<b>修改登录密码</b>
										</button>
									</div><!-- /.col-lg-6 -->
									<div class="col-xs-4">

									</div>
									<div class="col-xs-2">

									</div>

								</div>
							</div>

							<div id="pbody_shop">

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 会员卡特权</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div style="font-size: 16px;text-align: left">
											<p>
												特权一:&nbsp;<span id="priv1"><%= @shop.priv1%></span>
											</p>
										</div>
										<div style="font-size: 16px;text-align: left">
											<p>
												特权二:&nbsp;<span id="priv2"><%= @shop.priv2%></span>
											</p>
										</div>
										<div style="font-size: 16px;text-align: left">
											<p>
												特权三:&nbsp;<span id="priv3"><%= @shop.priv3%></span>
											</p>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 地址</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div id="address" style="font-size: 16px;text-align: left">
											<%= @shop.address%>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 固定电话</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div id="phone" style="font-size: 16px;text-align: left;width:30%">
											<%= @shop.phone%>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 移动电话</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div id="mobile" style="font-size: 16px;text-align: left;width:30%">
											<%= @shop.mobile%>
										</div>
									</div>
								</div>
							</div>

							<script></script>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div id="delconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>确定删除该会员记录.</b>
			</p>
			<p>

			</p>
		</div>

		<div id="delcouponconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>确定删除该优惠券.</b>
			</p>
			<p>

			</p>
		</div>

		<div id="pubcouponconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>发布后到期前将不能删除,请确认</b>
			</p>
			<p>

			</p>
		</div>

		<div id="newuser" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<form class="form-horizontal">

				<label class="control-label"  for="inputcardno">实体卡号</label>

				<div class="controls">
					<input id="inputcardno" placeholder="卡号" type="text"/>
				</div>
				<label class="control-label" for="inputphone">用户类型</label>

				<div class="controls">
					<select id="inputusertype" name="coupon[usertype]" class="selectpicker">
						<option value="普通会员">普通会员</option>
						<option value="VIP会员">VIP会员</option>
						<option value="白银会员">白银会员</option>
						<option value="黄金会员">黄金会员</option>
						<option value="白金会员">白金会员</option>
					</select>
				</div>

				<label class="control-label" for="inputphone">电话</label>

				<div class="controls">
					<input id="inputphone" placeholder="电话号码" type="text" />
				</div>

				<label class="control-label"  for="inputbalance">预存</label>

				<div class="controls">
					<input id="inputbalance" placeholder="0" type="text" />
				</div>

			</form>

		</div>

		<div id="shopurl" style="display:none">
			<%= @shop.shopurl%>
		</div>

		<div id="coupon-form">

		</div>

		<div id="newcoupon"  class="ui-helper-hidden"  style="width:330px;overflow: hidden" >
			<%= form_for @coupon, :remote => true,:url => createcoupon_path(@shop.id),:html => { :multipart => true } do |f| %>

			<div class="field" style="margin-top:10px">
				<%= f.label :"标题" %>
				<br />
				<%= f.text_field :title %>
			</div>

			<div class="field">
				<%= f.label :"详细" %>
				<br />
				<%= f.text_field :content %>
			</div>
			<div class="field">

				<%= f.label :"优惠券类型" %>
				<br />
				<select id="coupon_usertype" name="coupon[usertype]" class="selectpicker">
					<option value="折扣卷">折扣卷</option>
					<option value="礼品卷">礼品卷</option>
					<option value="礼品卷">积分卷</option>
				</select>

			</div>
			<div class="field" id="datepicker">

				<%= f.label :"截止日期" %>
				<br />
				<div class="input-daterange input-group" id="datepicker">
					<input type="text" class="input-sm form-control" name="coupon[startdate]" id="coupon_startdate" />
					<span class="input-group-addon">到</span>
					<input type="text" class="input-sm form-control" name="coupon[enddate]" id="coupon_enddate	" />
				</div>

			</div>

			<input type="hidden" id="coupon_shopid" name="coupon[shopid]" value="<%= @shop.id%>" />
			<div class="field">
				<%= f.label :"图片" ,:id=>"piclabel"%>
				<br />
				<input id="coupon_pic" name="coupon[pic]" title="请选择一个图片" type="file" data-filename-placement="inside" class="btn">
			</div>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: right">
				<%= f.submit "确定",:id=>"commit",:class=>"btn btn-success", :data => {:'disable-with' => "正在生成..."}%>

				<button type="button" class="btn btn-default" onclick="closecoupon();">
					取消
				</button>

			</div>

			<% end %>
		</div>

		<div id="changepwd"  class="ui-helper-hidden"  style="width:330px;overflow: hidden" >

			<div class="field" style="margin-top:10px">
				<label>原密码</label>
				<br />
				<input id="currentpass" name="shop_pwd" type="password">
			</div>

			<div class="field">
				<label>新密码</label>
				<br />
				<input id="newpass" name="shop_pwd_new" type="password">
			</div>
			<div class="field">
				<label>确认新密码</label>
				<br />
				<input id="newpass_conf" name="shop_pwd_conf" type="password">
			</div>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: right">
				<button type="button" class="btn btn-success" onclick="updatepass();">
					确定
				</button>

				<button type="button" class="btn btn-default" onclick="closeuserpwd();">
					取消
				</button>

			</div>

		</div>

		<div class="modal fade" id="requestcoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Modal title</h4>

					</div>
					<div class="modal-body">
						<div class="te"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary">
							Save changes
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<div id="custablenew" style="display: none"></div>

	</body>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/yaya-template.js"></script>
	<script src="/js/datatabelext.js"></script>
	<script>
		var current_menu = "menu_users";
		var searchtype = "phone";
		var cardno = "", telephone = "", balance = "", usertype = "";
		$(document).ready(function() {
			//$('.editab').editable('disable');
			$("img").unveil();
			$('input[type=file]').bootstrapFileInput();
			$('.file-inputs').bootstrapFileInput();
			var $custable = $('#customertable').dataTable({
				"bJQueryUI" : true,
				"bPaginate" : true,
				"bLengthChange" : false,
				"sPaginationType" : "full_numbers",
				"bAutoWidth" : false,
				"sDom" : '<""l>t<"F"fp>',
				"bSort" : true,
				"aoColumns" : [null, {
					"bSortable" : false
				}, null, {
					"bSortable" : false
				}, {
					"bSortable" : false
				}, null, null, {
					"bSortable" : false
				}],
				"aoColumnDefs" : [{
					"bSearchable" : false,
					"bVisible" : false,
					"aTargets" : [0]
				}],
				"aaSorting" : [[0, 'desc']],
				"oLanguage" : {
					"sUrl" : "/js/dataTables.chn.txt"
				}
			});
			var $couptable = $('#coupontable').dataTable({
				"bJQueryUI" : true,
				"bPaginate" : true,
				"bSearchable" : false,
				"iDisplayLength" : 5,
				"bLengthChange" : false,
				"sPaginationType" : "full_numbers",
				"bAutoWidth" : false,
				"sDom" : '<""l>t<"F"fp>',
				"bSort" : true,
				"bFilter" : false,
				"bInfo" : false,
				"aoColumns" : [null, {
					"bSortable" : false
				}, {
					"bSortable" : false
				}, {
					"bSortable" : false
				}, null, null, {
					"bSortable" : false
				}],
				"aoColumnDefs" : [{
					"bSearchable" : false,
					"bVisible" : false,
					"aTargets" : [0]
				}],
				"aaSorting" : [[0, 'desc']],
				"oLanguage" : {
					"sUrl" : "/js/dataTables.chn.txt"
				}
			});
			$('#datepicker .input-daterange').datepicker({
			});
			$('.selectpicker').selectpicker();

			$('#priv1').editable({
				type : 'text',
				mode : 'inline',
				rows : 1,
				url : '/shops/updateinfo',
				pk : 'priv1',
				title : '修改第一个会员权限',
				ajaxOptions : {
					type : 'post',
				}
			});

			$('#priv2').editable({
				type : 'text',
				mode : 'inline',
				rows : 1,
				url : '/shops/updateinfo',
				pk : 'priv2',
				title : '修改第二个会员权限',
				ajaxOptions : {
					type : 'post',
				}
			});

			$('#priv3').editable({
				type : 'text',
				mode : 'inline',
				rows : 1,
				url : '/shops/updateinfo',
				pk : 'priv3',
				title : '修改第三个会员权限',
				ajaxOptions : {
					type : 'post',
				}
			});

			$('#address').editable({
				type : 'text',
				mode : 'inline',
				rows : 2,
				url : '/shops/updateinfo',
				pk : 'address',
				title : '修改店铺的地址',
				ajaxOptions : {
					type : 'post',
				}
			});
			$('#phone').editable({
				type : 'text',
				mode : 'inline',
				rows : 2,
				url : '/shops/updateinfo',
				pk : 'phone',
				title : '修改店铺的固定电话',
				ajaxOptions : {
					type : 'post',
				}
			});
			$('#mobile').editable({
				type : 'text',
				mode : 'inline',
				rows : 2,
				url : '/shops/updateinfo',
				pk : 'mobile',
				title : '修改店铺的移动电话',
				ajaxOptions : {
					type : 'post',
				}
			});
			//$(".remotedialog").on('click', function() {
			//$('#requestcoupon').removeData('bs.modal');
			//$('#requestcoupon').modal({
			//	remote : '/coupons/requestcoupon/' + $(this).attr('coupid')
			//});
			//$('#requestcoupon').modal('show');
			//});
		});
		function openrecycle(ref) {
			$('#requestcoupon').removeData('bs.modal');
			$('#requestcoupon').modal({
				remote : '/coupons/requestcoupon/' + $(ref).attr('coupid')
			});
			$('#requestcoupon').modal('show');
		}

		function togglepage(id) {
			if (id == current_menu) {
				return;
			} else {
				$("#" + current_menu).removeClass("active");
				$("#" + current_menu + "_panel").hide();
				$("#" + id).addClass("active");
				$("#" + id + "_panel").show();
				current_menu = id;
			}
		}

		function delcoupconfirm(ref) {
			var rid = $(ref).attr('coupid');
			var txt = $.trim($(ref).text());
			if (txt == "删除") {
				$("#delcouponconfirm").dialog({
					modal : false,
					dialogClass : "no-close",
					buttons : {
						"确认" : function() {
							delcoupon(rid);
							$(this).dialog("close");
						},
						"取消" : function() {
							$(this).dialog("close");
						}
					},
					show : {
						effect : "slideToggle",
						duration : 100
					},
					position : {
						my : "center center",
						at : "center center",
						of : pbody_coupon
					},
					open : function(event) {
						$('.ui-dialog-buttonpane').find('button:contains("确认")').addClass('btn').addClass('btn-danger');
						$('.ui-dialog-buttonpane').find('button:contains("取消")').addClass('btn').addClass('btn-primary');
					}
				});
			} else {
				//$("[recordid='edt" + rid + "']").editable('toggleDisabled');
				//$("#changebtn" + rid).removeClass("btn-success").addClass("btn-primary");
				//$("#changebtn" + rid).html("修改");
				//$("#deletebtn" + rid).removeClass("btn-default").addClass("btn-danger");
				//$("#deletebtn" + rid).html("删除");
			}
		}

		function pubcoupconfirm(ref) {
			var rid = $(ref).attr('coupid');
			var txt = $.trim($(ref).text());
			if (txt == "发布") {
				$("#pubcouponconfirm").dialog({
					modal : false,
					dialogClass : "no-close",
					buttons : {
						"确认" : function() {
							sendcoupon(rid);
							$(this).dialog("close");
						},
						"取消" : function() {
							$(this).dialog("close");
						}
					},
					show : {
						effect : "slideToggle",
						duration : 100
					},
					position : {
						my : "center center",
						at : "center center",
						of : pbody_coupon
					},
					open : function(event) {
						$('.ui-dialog-buttonpane').find('button:contains("确认")').addClass('btn').addClass('btn-danger');
						$('.ui-dialog-buttonpane').find('button:contains("取消")').addClass('btn').addClass('btn-primary');
					}
				});
			} else {
				//$("[recordid='edt" + rid + "']").editable('toggleDisabled');
				//$("#changebtn" + rid).removeClass("btn-success").addClass("btn-primary");
				//$("#changebtn" + rid).html("修改");
				//$("#deletebtn" + rid).removeClass("btn-default").addClass("btn-danger");
				//$("#deletebtn" + rid).html("删除");
			}
		}

		function delcoupon(rid) {
			$.post("/coupons/delcoupon", {
				recid : rid
			}, null, "script");
		}

		function removecoupon(rid) {
			$couptable = $("#coupontable").dataTable();
			var ele = document.getElementById("couprow" + rid);
			var pos = $couptable.fnGetPosition(ele);
			$couptable.fnDeleteRow(pos);
		}

		function removecustomer(rid) {
			$custable = $("#customertable").dataTable();
			var ele = document.getElementById("cusrow" + rid);
			var pos = $custable.fnGetPosition(ele);
			$custable.fnDeleteRow(pos);

			//$("#cusrow" + rid).remove();
		}

		function delconfirm(ref) {
			var rid = $(ref).attr('recordid');
			var txt = $.trim($(ref).text());
			if (txt == "删除") {
				$("#delconfirm").dialog({
					modal : false,
					dialogClass : "no-close",
					buttons : {
						"确认" : function() {
							delrecord(rid);
							$(this).dialog("close");
						},
						"取消" : function() {
							$(this).dialog("close");
						}
					},
					show : {
						effect : "slideToggle",
						duration : 100
					},
					position : {
						my : "center center",
						at : "center center",
						of : pbody_customer
					},
					open : function(event) {
						$('.ui-dialog-buttonpane').find('button:contains("确认")').addClass('btn').addClass('btn-danger');
						$('.ui-dialog-buttonpane').find('button:contains("取消")').addClass('btn').addClass('btn-primary');
					}
				});
			} else {
				$("[recordid='edt" + rid + "']").editable('toggleDisabled');
				$("#changebtn" + rid).removeClass("btn-success").addClass("btn-primary");
				$("#changebtn" + rid).html("修改");
				$("#deletebtn" + rid).removeClass("btn-default").addClass("btn-danger");
				$("#deletebtn" + rid).html("删除");
			}
		}

		function delrecord(rid) {
			$.post("/customers/delcustomer", {
				recid : rid
			}, null, "script");
		}

		function sendcoupon(rid) {
			$.post("/coupons/sendcoupon", {
				recid : rid
			}, null, "script");
		}

		function newuser() {
			$("#newuser").dialog({
				dialogClass : "no-close",
				modal : true,
				title : "增加新会员",
				buttons : {
					"确认" : function() {
						//$(this).dialog("close");
						cardno = $.trim($("#inputcardno").val());
						telephone = $.trim($("#inputphone").val());
						balance = $.trim($("#inputbalance").val());
						usertype = $.trim($("#inputusertype").val());
						if (!uservalidate(cardno, telephone, balance)) {
							return;
						} else {
							adduser();
							clearuser();
							$(this).dialog("close");
						}
					},
					"取消" : function() {
						$(this).dialog("close");
						clearuser();
					}
				},
				show : {
					effect : "drop",
					duration : 400,
					direction : "up"
				},
				hide : {
					effect : "drop",
					duration : 400,
					direction : "down"
				},
				position : {
					my : "center top",
					at : "center top",
					of : pbody_customer
				},
				open : function(event) {
					$('.ui-dialog-buttonpane').find('button:contains("确认")').addClass('btn').addClass('btn-success');
					$('.ui-dialog-buttonpane').find('button:contains("取消")').addClass('btn').addClass('btn-default');
				}
			});
		}

		function adduser() {
			$.post("/customers/addcustomer", {
				cardid : cardno,
				phone : telephone,
				balance : balance,
				vusertype : usertype
			}, null, "script");
		}

		function uservalidate(cardno, telephone, balance) {
			var str = "";
			if (cardno == "") {
				str = "卡号不能为空";
				$("#inputcardno").notify(str, {
					className : "danger",
					position : "top",
					autoHideDelay : 2000
				});
				return false
			}
			if (telephone.length > 11) {
				str = "电话号码不能大于11位";
				$("#inputphone").notify(str, {
					className : "danger",
					position : "top",
					autoHideDelay : 2000
				});
				return false
			}
			if (balance.length > 6) {
				str = "余额不能大于6位";
				$("#inputbalance").notify(str, {
					className : "danger",
					position : "top",
					autoHideDelay : 2000
				});
				return false
			}
			return true;
		}

		function clearuser() {
			$("#inputcardno").val("");
			$("#inputphone").val("");
			$("#inputbalance").val("");
			$("#inputusertype").val("普通会员");
			cardno = "";
			telephone = "";
			balance = "";
			usertype = "";
		}

		function selectsearchtype(str) {
			$("#searchtype").html(str + "<span class='caret'></span>");
			if (str == '卡号') {
				searchtype = "realcardid";
				return;
			}
			if (str == '电话号码') {
				searchtype = "phone";
				return;
			}
			if (str == '用户级别') {
				searchtype = "level";
				return;
			}
		}

		function search() {
			searchvalue = $.trim($("#searchtxt").val());
			if (searchvalue == "") {
				$("#searchtxt").popover({
					placement : 'top',
					content : '请输入要搜索的数据',
					delay : 500
				});
				$("#searchtxt").popover('show');
				return
			}
			$.post("/customers/search", {
				searchtp : searchtype,
				searchvalue : searchvalue,
			}, null, "script");
		}

		function logout() {
			$.post("/sessions/destroy_shop", {
			}, null, "script");
		}

		function redirect_login() {
			surl = $.trim($("#shopurl").html());
			location.href = '/cardbackground/' + surl;
		}

		function operate(obj) {
			var txt = $.trim($(obj).text());
			var rid = $(obj).attr('recordid');
			if (txt == '修改') {
				$('#realcardid' + rid).editable({
					validate : function(value) {
						if ($.trim(value).length > 12)
							return '卡号不能大于12位';
					}
				});
				$('#level' + rid).editable({
					type : 'select',
					value : 1,
					source : [{
						value : 1,
						text : '普通会员'
					}, {
						value : 2,
						text : 'VIP会员'
					}, {
						value : 3,
						text : '白银会员'
					}, {
						value : 4,
						text : '黄金会员'
					}, {
						value : 5,
						text : '白金会员'
					}]
				});
				$('#phone' + rid).editable({
					validate : function(value) {
						if ($.trim(value).length > 11)
							return '电话号码不能大于11位';
					}
				});
				$('#balance' + rid).editable({
					type : 'number',
					validate : function(value) {
						var regex = /^[0-9]+$/;
						if (! regex.test(value)) {
							return '余额只能是数字';
						}
						if ($.trim(value).length > 6) {
							return '余额不能多于6位'
						}
					}
				});
				$('#bonus' + rid).editable({
					type : 'number',
					validate : function(value) {
						var regex = /^[0-9]+$/;
						if (! regex.test(value)) {
							return '积分只能是数字';
						}
						if ($.trim(value).length > 6) {
							return '积分不能多于6位'
						}
					}
				});
				$("[recordid='edt" + rid + "']").editable('enable');
				$(obj).removeClass("btn-primary").addClass("btn-success");
				$(obj).html("保存");
				$("#deletebtn" + rid).removeClass("btn-danger").addClass("btn-default");
				$("#deletebtn" + rid).html("取消");
			} else {
				updaterecord(rid);
				$("[recordid='edt" + rid + "']").editable('toggleDisabled');
				$(obj).removeClass("btn-success").addClass("btn-primary");
				$(obj).html("修改");
				$("#deletebtn" + rid).removeClass("btn-default").addClass("btn-danger");
				$("#deletebtn" + rid).html("删除");
			}
		}

		function updaterecord(rid) {
			var vrealcard = $.trim($("#realcardid" + rid).text());
			var vlevel = $.trim($("#level" + rid).text());
			var vphone = $.trim($("#phone" + rid).text());
			var vbalance = $.trim($("#balance" + rid).text());
			var vbonus = $.trim($("#bonus" + rid).text());
			$.post("/customers/updatecustomer", {
				realcard : vrealcard,
				level : vlevel,
				phone : vphone,
				balance : vbalance,
				bonus : vbonus,
				recid : rid
			}, null, "script");
		}

		function success(rid) {
			$("#changebtn" + rid).notify("保存成功", {
				className : "success",
				position : "top",
				autoHideDelay : 2000
			});
		}

		function listall() {
			$.post("/cardbackground/index", {
				act : 'listall'
			}, null, "script");
		}

		function newcoupon(shopid) {
			$("#newcoupon").dialog({
				dialogClass : "no-close",
				modal : true,
				title : "添加新优惠券",
				show : {
					effect : "drop",
					duration : 400,
					direction : "up"
				},
				hide : {
					effect : "drop",
					duration : 400,
					direction : "down"
				},
				position : {
					my : "center top",
					at : "center top",
					of : pbody_coupon
				},
				open : function(event) {
				}
			});
		}

		function closecoupon() {
			$('#newcoupon').dialog('close');
			clearnewcoupon();
			return false;
		}

		function changepass() {
			$("#changepwd").dialog({
				dialogClass : "no-close",
				modal : true,
				resizable : false,
				title : "修改密码",
				show : {
					effect : "slideToggle",
					duration : 100
				},
				position : {
					my : "center top",
					at : "center top",
					of : pbody_shop
				}
			});
		}

		function updatepass() {
			var voldpass = $.trim($("#currentpass").val());
			var vnewpass = $.trim($("#newpass").val());
			var vnewpassconf = $.trim($("#newpass_conf").val());
			if (voldpass == '' || vnewpass == '' || vnewpassconf == '') {
				$("#currentpass").notify("密码都不能为空", {
					className : "error",
					position : "top",
					arrowShow : true,
					autoHideDelay : 1000
				});
				return false;
			}
			if (vnewpass != vnewpassconf) {
				$("#newpass_conf").notify("确认密码和新密码不一致", {
					className : "error",
					position : "top",
					arrowShow : true,
					autoHideDelay : 1000
				});
				return false;
			}
			$.post("/shops/updateinfo", {
				pk : 'password',
				newpass : vnewpass,
				currpass : voldpass
			}, null, "script");
		}

		function closeuserpwd() {
			$('#changepwd').dialog('close');
			$("#currentpass").val("");
			$("#newpass").val("");
			$("#newpass_conf").val("");
			return false;
		}

		function changepassfail() {
			$("#currentpass").notify("管理密码错误", {
				className : "error",
				position : "top",
				arrowShow : true,
				autoHideDelay : 1000
			});
		}

		function changepasssucc() {
			closeuserpwd();
			$("#changepwdbtn").notify("密码重设成功	", {
				className : "success",
				position : "right",
				arrowShow : true,
				autoHideDelay : 3000
			});
		}

		function savecouponsucc() {
			clearnewcoupon();
			$("#newcoupon").dialog("close");
		}

		function savecouponfail() {
			$("#piclabel").notify("图片必须是小于100K的jpg", {
				className : "error",
				position : "right",
				arrowShow : false,
				autoHideDelay : 3000
			});
		}

		function clearnewcoupon() {
			$("#coupon_content").val("");
			$("#coupon_title").val("");
			$("#coupon_usertype").val("折扣卷");
			$('.selectpicker').selectpicker('refresh');
			$i = $("#coupon_pic").prev();
			$i.html("请选择一个图片");
		}

		function coupontitlefail() {
			$("#coupon_title").notify("标题不能长于10个字", {
				className : "error",
				position : "top",
				arrowShow : false,
				autoHideDelay : 3000
			});
		}

		function coupon_sendfail(rid) {
			$("#couppubbtn" + rid).notify("发送失败，请稍后重试", {
				className : "error",
				position : "left",
				arrowShow : true,
				autoHideDelay : 3000
			});
		}

		function coupon_sendsucc(rid) {
			$("#couppubbtn" + rid).notify("优惠券发送成功", {
				className : "success",
				position : "top",
				arrowShow : true,
				autoHideDelay : 3000
			});
			var strbadge = "<div class='number'><a href='#' data-target='#requestcoupon' id='coup_req_id" + rid + "' coupid='" + rid + "'><span class='badge' id='couponbadge" + rid + "'>待兑换 <span id='couponreq" + rid + "'>0</span><span></a><a href='#'><span class='badge badge-usd'>已兑换<span id='couponusd" + rid + "'>0</span></span></a></div>";
			var strfresh = "<button type='button' class='btn btn-success' style='position: relative;bottom:12px' coupid='" + rid + "' onclick='pubcouprefresh(this)' id='couprefreshbtn" + rid + "'>刷新</button>";
			$("#couppubbtn" + rid).replaceWith(strbadge);
			$("#coupdeletebtn" + rid).replaceWith(strfresh);
			$("#coupdeletebtn" + rid).html("刷新");
		}

		function recycle(cid, qid) {
			//rid is the coupon id, qid is id of quest;
			var currentreq = parseInt($("#couponreq" + cid).html());
			var currentusd = parseInt($("#couponusd" + cid).html());
			if (currentreq == 0) {
				return;
			}
			if (currentreq == 1) {
				$("#couponbadge" + cid).removeClass("badge-success");
				$("#coup_req_id" + cid).removeAttr("onclick");
				$("#coup_req_id" + cid).off();
			}
			$.post("/coupons/delrequest", {
				questid : qid,
				couponid : cid
			}, null, "script");
			$("#couponreq" + cid).html(currentreq - 1);
			$("#couponusd" + cid).html(1 + currentusd);
		}

		function recyclesucc(queid) {
			$("#reqid" + queid).notify("优惠券回收成功", {
				className : "success",
				position : "top",
				arrowShow : true,
				autoHideDelay : 1000
			});
			$("#reqid" + queid).remove();
		}

		function pubcouprefresh(ref) {
			var rid = $(ref).attr('coupid');
			$.post("/coupons/refreshrequest", {
				couponid : rid
			}, null, "script");
		}

		function addcustomer(id, realcard, phone, balance, level) {
			//function addcustomer() {
			var template = YayaTemplate(document.getElementById("customer-template").innerHTML);
			var str = template.render({
				cusid : id,
				cusrealid : realcard,
				cusphone : phone,
				cusbalance : balance,
				cuslevel : level
			});
			$custable = $("#customertable").dataTable();
			var divtr = document.createElement('tr');
			divtr.innerHTML = str;
			$(divtr).attr('id', 'cusrow' + id);
			$custable.fnAddTr(divtr);
		}

		function addcoupon(id, picurl, title, content, usertype, startdate, enddate) {
			var template = YayaTemplate(document.getElementById("coupon-template").innerHTML);
			var str = template.render({
				coupid : id,
				couppic : picurl,
				couptitle : title,
				coupcontent : content,
				couptype : usertype,
				coupstart : startdate,
				coupend : enddate
			});
			$couptable = $("#coupontable").dataTable();
			var divtr = document.createElement('tr');
			divtr.innerHTML = str;
			$(divtr).attr('id', 'couprow' + id);
			$couptable.fnAddTr(divtr);
			savecouponsucc();
		}

		function questrefresh(coupid, reqst, usd) {
			var currentreq = parseInt($("#couponreq" + coupid).html());
			if (currentreq == 0 && reqst != 0) {
				$("#couponbadge" + coupid).addClass("badge-success");
				$("#coup_req_id" + coupid).on('click', function() {
					$('#requestcoupon').removeData('bs.modal');
					$('#requestcoupon').modal({
						remote : '/coupons/requestcoupon/' + $(this).attr('coupid')
					});
					$('#requestcoupon').modal('show');
				});
			}
			if (reqst == 0 && currentreq != 0) {
				$("#couponbadge" + coupid).removeClass("badge-success");
				$("#coup_req_id" + coupid).off();
				$("#coup_req_id" + coupid).removeAttr("onclick");
			}
			$("#couponreq" + coupid).html(reqst);
			$("#couponusd" + coupid).html(usd);
		}
	</script>

	<script type="text/template" id="customer-template">
		{$
		<td class="editab">{%cusid%}</td>
		<td class="editab"></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="realcardid{%cusid%}">{%cusrealid%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="level{%cusid%}">{%cuslevel%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="phone{%cusid%}">{%cusphone%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="balance{%cusid%}">{%cusbalance%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="bonus{%cusid%}">0</a></td>
		<td style="text-align: center">
		<button type="button" class="btn btn-primary" recordid="{%cusid%}" onclick="operate(this)" id="changebtn{%cusid%}">
		修改
		</button>
		<button type="button" class="btn btn-danger" recordid="{%cusid%}" onclick="delconfirm(this)" id="deletebtn{%cusid%}">
		删除
		</button></td>
		$}
	</script>

	<script type="text/template" id="coupon-template">
		{$
		<td class="editab">{%coupid%}</td>
		<td class="editab"><img src="{%couppic%}" width="70" height="70"></td>
		<td class="editab" data-toggle="tooltip" data-placement="top" title="详情:{%coupcontent%}">{%couptitle%}</td>
		<td class="editab">{%couptype%}</td>
		<td class="editab">{%coupstart%}</td>
		<td class="editab">{%coupend%}</td>
		<td style="text-align: center">
		<button type="button" class="btn btn-primary" coupid="{%coupid%}" onclick="pubcoupconfirm(this)" id="couppubbtn{%coupid%}">
		发布
		</button>
		<button type="button" class="btn btn-danger" coupid="{%coupid%}" onclick="delcoupconfirm(this)" id="coupdeletebtn{%coupid%}">
		删除
		</button></td>
		$}
	</script>
</html>