<!DOCTYPE html>
<html>
	<head>
		<title><%= @shop.name%>&nbsp;会员卡</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Bootstrap -->

		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="/css/datepicker3.css" />
		<link rel="stylesheet" href="/css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="/css/unicorn.css" />
		<link rel="stylesheet" href="/css/bootstrap-editable.css" />
		<link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="/css/cardback-index.css" />

		<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<style>
	</style>
	<body>

		<div id ="headerv" class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="width:1000px ">
					<div class="rows">
						<div class="col-xs-10">
							<div class="brand" style="color:#CCCCCC">
								<div style="display: inline-block; vertical-align: bottom;margin-left: 20px">
									<h1><%= @shop.name%></h1>
								</div>

							</div>
						</div>
						<div class="col-xs-2">
							<div style="padding-top: 30px;padding-left: 80px">
								<a id="logout" href="#" onclick="logout()" style="color:#3071A9"><h4><b>退出</b></h4></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id ="body" class="container" style="padding-top:130px;width:1000px">
			<div class="rows" >
				<div class="col-xs-3">
					<div class="list-group">
						<a href="#" class="list-group-item active" id="menu_users" onclick="togglepage('menu_users')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<b>客户管理</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">储值 积分 卡号</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_coupons" onclick="togglepage('menu_coupons')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;<b>优惠券</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布 兑换</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_shopinfo" onclick="togglepage('menu_shopinfo')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-home"></span>&nbsp;&nbsp;<b>店铺信息</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布  修改</h6>
						</p> </a>
					</div>
				</div>
				<div class="col-xs-9">
					<div id="menu_users_panel" class="panel panel-default" style="">
						<div class="panel-heading">
							会员列表
						</div>

						<div class="panel-body" >
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-10"></div><!-- /.col-lg-6 -->

									<div class="col-xs-2">
										<button class="btn btn-success" type="button" onclick="newuser()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;新用户
										</button>
									</div>

								</div>
							</div>
							<div id="pbody_customer">
								<table class="table table-bordered table-striped table-hover data-table" id="customertable">
									<thead>
										<tr>
											<th>id</th>
											<th>微信卡号</th>
											<th>实体卡号</th>
											<th>级别</th>
											<th>电话</th>
											<th>余额</th>
											<th>积分</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="cusbody">

										<% @customers.each do |customer| %>
										<tr id="cusrow<%= customer.id%>">
											<td class="editab"><%= customer.id%></td>
											<td class="editab"><%= customer.cardid%></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="realcardid<%= customer.id%>"><%= customer.realcardid%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="level<%= customer.id%>"><%= customer.level%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="phone<%= customer.id%>"><%= customer.phone%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="balance<%= customer.id%>"><%= customer.balance%></a></td>
											<td class="editab"><a href="#" recordid='edt<%= customer.id%>' id="bonus<%= customer.id%>"><%= customer.bonus%></a></td>
											<td style="text-align: center">
											<button type="button" class="btn btn-success" recordid="<%= customer.id%>" onclick="customerrecycle(this)" id="couponbtn<%= customer.id%>">
												优惠
											</button>
											<button type="button" class="btn btn-primary" recordid="<%= customer.id%>" onclick="operate(this)" id="changebtn<%= customer.id%>">
												修改
											</button>
											<button type="button" class="btn btn-danger" recordid="<%= customer.id%>" onclick="delconfirm(this)" id="deletebtn<%= customer.id%>">
												删除
											</button></td>
										</tr>
										<% end %>
									</tbody>
								</table>
								<div class="container" style="width: 650px">
									<p class="text-muted" style="text-align:right; padding-top: 20px">
										<%= @shop.name%>  2014 &nbsp; &nbsp;&nbsp;由&nbsp;<a href="<%= @shop.oemurl%>"><%= @shop.oemname%></a>&nbsp;提供支持.
									</p>
								</div>

							</div>

						</div>
					</div>

					<div id="menu_coupons_panel" class="panel panel-default" style="display:none">
						<div class="panel-heading">
							优惠券
						</div>

						<div class="panel-body">
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-9">
										<button class="btn btn-success pull-right" type="button" onclick="newcoupon()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;<b>发送给特定会员</b>
										</button>
									</div><!-- /.col-lg-6 -->

									<div class="col-xs-3">
										<button class="btn btn-success pull-right" type="button" onclick="newcoupon()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;<b>添加全店优惠券</b>
										</button>
									</div><!-- /.col-lg-6 -->

								</div>
							</div>

							<div id="pbody_coupon">
								<table class="table table-bordered table-striped table-hover data-table" id="coupontable">
									<thead>
										<tr>
											<th></th>
											<th>&nbsp;&nbsp;&nbsp;&nbsp;图片</th>
											<th>标题</th>
											<th>类别</th>
											<th>开始日期</th>
											<th>截止日期</th>
											<th></th>
										</tr>
									</thead>

									<% @coupons.each do |coupon| %>
									<tr id="couprow<%= coupon.id%>">
										<td class="editab"><%= coupon.id%></td>
										<td class="editab"><img src="/images/loader.gif" data-src="<%= coupon.pic.url(:thumb) %>" width="70" height="70"></td>
										<td class="editab" data-toggle="tooltip" data-placement="top" title="详情:<%= coupon.content%>"><%= coupon.title%></td>
										<td class="editab"><%= coupon.usertype%></td>
										<td class="editab"><%= coupon.startdate%></td>
										<td class="editab"><%= coupon.enddate%></td>
										<td style="text-align: center" id="coupcmd<%= coupon.id%>"> <%if coupon.sent== 0%>
										<button type="button" class="btn btn-primary" coupid="<%= coupon.id%>" onclick="pubcoupconfirm(this)" id="couppubbtn<%= coupon.id%>">
											发布
										</button>
										<button type="button" class="btn btn-danger" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button> <%else%>

										<%if coupon.enddate > DateTime.now%>
										<div class="number">
											<%if coupon.coupon_req == 0%>
											<a href="#" data-target="#requestcoupon" id="coup_req_id<%= coupon.id%>" coupid="<%= coupon.id%>"> <span class="badge" id="couponbadge<%= coupon.id%>"> <%else%> <a class="remotedialog" onclick="openrecycle(this)" id="coup_req_id<%= coupon.id%>" coupid="<%= coupon.id%>"><span class="badge badge-success" id="couponbadge<%= coupon.id%>"> <%end%>
													待兑换&nbsp;<span id="couponreq<%= coupon.id%>"><%= coupon.coupon_req%></span></span></a> <a href="#"> <span class="badge" style="color:dimgray;display:block;margin-top:5px">已兑换&nbsp;<span id="couponusd<%= coupon.id%>"><%= coupon.coupon_usd%></span> </span></a>
										</div>
										<button type="button" class="btn btn-success" style="position: relative;bottom:12px"  coupid="<%= coupon.id%>" onclick="pubcouprefresh(this)" id="couprefreshbtn<%= coupon.id%>">
											刷新
										</button> <%else%>
										<div class="number">
											<a href="#"> <span class="badge" style="color:dimgray;display:block ">已兑换 <%= coupon.coupon_usd%></span></a>
										</div>
										<button type="button" class="btn btn-danger"  style="position: relative;bottom:2px" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button> <%end%>
										<%end%> </td>
									</tr>
									<% end %>
								</table>
								<div class="container" style="width: 650px">
									<p class="text-muted" style="text-align:right; padding-top: 20px">
										<%= @shop.name%>  2014 &nbsp; &nbsp;&nbsp;由&nbsp;<a href="<%= @shop.oemurl%>"><%= @shop.oemname%></a>&nbsp;提供支持.
									</p>
								</div>

							</div>
						</div>
					</div>

					<div id="menu_shopinfo_panel" class="panel panel-default" style="height:700px;display:none">
						<div class="panel-heading">
							店铺信息
						</div>
						<div class="panel-body">
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-6">
										<button class="btn btn-primary" type="button" onclick="changepass()" id="changepwdbtn">
											<span class="glyphicon glyphicon-lock"></span>&nbsp;<b>修改登录密码</b>
										</button>
									</div><!-- /.col-lg-6 -->
									<div class="col-xs-4">

									</div>
									<div class="col-xs-2">

									</div>

								</div>
							</div>

							<div id="pbody_shop">

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 会员卡特权</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div style="font-size: 16px;text-align: left">
											<p>
												特权一:&nbsp;<span id="priv1"><%= @shop.priv1%></span>
											</p>
										</div>
										<div style="font-size: 16px;text-align: left">
											<p>
												特权二:&nbsp;<span id="priv2"><%= @shop.priv2%></span>
											</p>
										</div>
										<div style="font-size: 16px;text-align: left">
											<p>
												特权三:&nbsp;<span id="priv3"><%= @shop.priv3%></span>
											</p>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 地址</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div id="address" style="font-size: 16px;text-align: left">
											<%= @shop.address%>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 固定电话</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div id="phone" style="font-size: 16px;text-align: left;width:30%">
											<%= @shop.phone%>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title"> 移动电话</h3>
									</div>
									<div class="panel-body" style="text-align: left">
										<div id="mobile" style="font-size: 16px;text-align: left;width:30%">
											<%= @shop.mobile%>
										</div>
									</div>
								</div>

								<div class="container" style="width: 650px">
									<p class="text-muted" style="text-align:right; padding-top: 0px">
										<%= @shop.name%>  2014 &nbsp; &nbsp;&nbsp;由&nbsp;<a href="<%= @shop.oemurl%>"><%= @shop.oemname%></a>&nbsp;提供支持.
									</p>
								</div>
							</div>

							<script></script>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div id="delconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>确定删除该会员记录.</b>
			</p>
			<p>

			</p>
		</div>

		<div id="delcouponconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>确定删除该优惠券.</b>
			</p>
			<p>

			</p>
		</div>

		<div id="pubcouponconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>发布后到期前将不能删除,请确认</b>
			</p>
			<p>

			</p>
		</div>

		<div id="newuser" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<form class="form-horizontal">

				<label class="control-label"  for="inputcardno">实体卡号</label>

				<div class="controls">
					<input id="inputcardno" placeholder="卡号" type="text"/>
				</div>
				<label class="control-label" for="inputphone">用户类型</label>

				<div class="controls">
					<select id="inputusertype" name="coupon[usertype]" class="selectpicker">
						<option value="普通">普通</option>
						<option value="VIP">VIP</option>
						<option value="白银">白银</option>
						<option value="黄金">黄金</option>
						<option value="白金">白金</option>
					</select>
				</div>

				<label class="control-label" for="inputphone">电话</label>

				<div class="controls">
					<input id="inputphone" placeholder="电话号码" type="text" />
				</div>

				<label class="control-label"  for="inputbalance">预存</label>

				<div class="controls">
					<input id="inputbalance" placeholder="0" type="text" />
				</div>

			</form>

		</div>

		<div id="shopurl" style="display:none">
			<%= @shop.shopurl%>
		</div>

		<div id="coupon-form">

		</div>

		<div id="newcoupon"  class="ui-helper-hidden"  style="width:330px;overflow: hidden" >
			<form id="newcouponform" action="#">
				<div class="field" style="margin-top:10px">
					<label for="coupon_标题">标题</label>
					<br />
					<input id="coupon_title" name="coupon_title" type="text" >
				</div>
				<div id="error_title" style=""></div>

				<div class="field">
					<label for="coupon_详细">详细</label>
					<br />
					<input id="coupon_content" name="coupon_content" type="text">
				</div>
				<div id="error_content" style=""></div>
				<div class="field">

					<label for="coupon_优惠券类型">优惠券类型</label>
					<br />
					<select id="coupon_usertype" name="coupon[usertype]" class="selectpicker">
						<option value="折扣卷">折扣卷</option>
						<option value="礼品卷">礼品卷</option>
					</select>

				</div>
				<div class="field" id="datepicker">

					<label for="coupon_截止日期">截止日期</label>
					<br />
					<div class="input-daterange input-group" id="datepickers">
						<input type="text" class="input-sm form-control" name="coupon_startdate" id="coupon_startdate" />
						<span class="input-group-addon">到</span>
						<input type="text" class="input-sm form-control" name="coupon_enddate" id="coupon_enddate" />
					</div>
					<div id="error_date" style=""></div>

				</div>

				<input type="hidden" id="coupon_shopid" name="coupon[shopid]" value="<%= @shop.id%>" />
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: right">

					<input type="submit" id="resetbtn" class="btn btn-success" value="确定" />

					<button type="button" class="btn btn-default" onclick="closecoupon();">
						取消
					</button>

				</div>
			</form>

		</div>

		<div id="changepwd"  class="ui-helper-hidden"  style="width:330px;overflow: hidden" >

			<div class="field" style="margin-top:10px">
				<label>原密码</label>
				<br />
				<input id="currentpass" name="shop_pwd" type="password">
			</div>

			<div class="field">
				<label>新密码</label>
				<br />
				<input id="newpass" name="shop_pwd_new" type="password">
			</div>
			<div class="field">
				<label>确认新密码</label>
				<br />
				<input id="newpass_conf" name="shop_pwd_conf" type="password">
			</div>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: right">
				<button type="button" class="btn btn-success" onclick="updatepass();">
					确定
				</button>

				<button type="button" class="btn btn-default" onclick="closeuserpwd();">
					取消
				</button>

			</div>

		</div>

		<div class="modal fade" id="requestcoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Modal title</h4>

					</div>
					<div class="modal-body">
						<div class="te"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary">
							Save changes
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
			<div class="modal fade" id="customercoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Modal title</h4>

					</div>
					<div class="modal-body">
						<div class="te"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary">
							Save changes
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
		<div id="custablenew" style="display: none"></div>

	</body>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-ujs.js"></script>
	<script src="/js/notify-custom.js"></script>
	<script src="/js/jquery.iframe-transport.js"></script>
	<script src="/js/jquery.remotipart.js"></script>
	<script src="/js/jquery-ui.custom.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.file-input.js"></script>
	<script src="/js/bootstrap-editable.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/jquery.validate.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/jquery.unveil.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="/js/yaya-template.js"></script>
	<script src="/js/datatabelext.js"></script>
	<script src="/js/jquery.form.min.js"></script>
	<script src="/js/cardbackground-index.js"></script>

	<!--[if lte IE 7]>
	<script>window.location = '/browser'</script>
	<![endif]-->

	<script>
		function showRequest(formData, jqForm, options) {
			var queryString = $.param(formData);
			//alert(queryString);
			return true;
		}

		function showResponse(responseText, statusText, xhr, $form) {
			alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + '\n\nThe output div should have already been updated with the responseText.');
		}

		function createcoupon() {
			couptitle = $.trim($("#coupon_title").val());
			coupspid = $.trim($("#coupon_shopid").val());
			//alert(coupspid);
			$.post("/coupons/createcoupon", {
				title : couptitle,
				shopid : coupspid
			}, null, "script");

		}

		function customerrecycle(ref) {
			$('#customercoupon').removeData('bs.modal');
			$('#customercoupon').modal({
				remote : '/coupons/customercoupon/' + $(ref).attr('recordid')
			});
			$('#requestcoupon').modal('show');
		}

	</script>

	<script type="text/template" id="customer-template">
		{$
		<td class="editab"><a href="#">{%cusid%}</a></td>
		<td class="editab"><a href=""></a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="realcardid{%cusid%}">{%cusrealid%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="level{%cusid%}">{%cuslevel%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="phone{%cusid%}">{%cusphone%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="balance{%cusid%}">{%cusbalance%}</a></td>
		<td class="editab"><a href="#" recordid='edt{%cusid%}' id="bonus{%cusid%}">0</a></td>
		<td style="text-align: center"><button type="button" class="btn btn-primary" recordid="{%cusid%}" onclick="operate(this)" id="changebtn{%cusid%}">修改</button>
		<button type="button" class="btn btn-danger" recordid="{%cusid%}" onclick="delconfirm(this)" id="deletebtn{%cusid%}">删除</button>
		</td>
		$}
	</script>

	<script type="text/template" id="coupon-template">
		{$
		<td class="editab">{%coupid%}</td>
		<td class="editab"><img src="{%couppic%}" width="70" height="70"></td>
		<td class="editab" data-toggle="tooltip" data-placement="top" title="详情:{%coupcontent%}">{%couptitle%}</td>
		<td class="editab">{%couptype%}</td>
		<td class="editab">{%coupstart%}</td>
		<td class="editab">{%coupend%}</td>
		<td style="text-align: center" id="coupcmd{%coupid%}">
		<button type="button" class="btn btn-primary" coupid="{%coupid%}" onclick="pubcoupconfirm(this)" id="couppubbtn{%coupid%}">
		发布
		</button>
		<button type="button" class="btn btn-danger" coupid="{%coupid%}" onclick="delcoupconfirm(this)" id="coupdeletebtn{%coupid%}">
		删除
		</button></td>
		$}
	</script>

	<script type="text/template" id="badge-template">
		{$
		<div class="number">
		<a href="#" data-target="#requestcoupon" id="coup_req_id{%coupid%}" coupid="{%coupid%}">
		<span class="badge" id="couponbadge{%coupid%}">
		待兑换&nbsp;<span id="couponreq{%coupid%}">0</span></span></a> <a href="#">
		<span class="badge" style="color:dimgray;margin-top:5px">已兑换&nbsp;<span id="couponusd{%coupid%}">0</span> </span></a>
		</div>
		<button type="button" class="btn btn-success" style="position: relative;bottom:12px"  coupid="{%coupid%}" onclick="pubcouprefresh(this)" id="couprefreshbtn{%coupid%}">
		刷新
		</button>

		$}
	</script>

</html>