<!DOCTYPE html>
<html>
	<head>
		<title>Bootstrap 101 Template</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Bootstrap -->
		<%= stylesheet_link_tag "bootstrap.css" %>
		<%= stylesheet_link_tag "bootstrap-theme.css" %>
		<%= stylesheet_link_tag "pagenate.css" %>
		<%= stylesheet_link_tag "datepicker3.css" %>
		<%= stylesheet_link_tag "bootstrap-select.min.css" %>

		<%= stylesheet_link_tag "bootstrap-editable.css" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
		<%= javascript_include_tag "jquery-191.js" %>
		<%= javascript_include_tag "jquery-ujs.js" %>
		<%= javascript_include_tag "notify-custom.js" %>
		<%= javascript_include_tag "bootstrap.file-input.js" %>
		<%= javascript_include_tag "jquery.iframe-transport.js" %>
		<%= javascript_include_tag "jquery.remotipart.js" %>
		<%= javascript_include_tag "jquery-ui-1.10.4.custom.js" %>
		<%= javascript_include_tag "bootstrap.js" %>
		<%= javascript_include_tag "bootstrap-editable.js" %>
		<%= javascript_include_tag "bootstrap-datepicker.js" %>
		<%= javascript_include_tag "bootstrap-datepicker.zh-CN.js" %>
		<%= javascript_include_tag "bootstrap-select.min.js" %>

	</head>
	<style>
		.editab {

		}

		a:hover, a:focus {
			text-decoration: none;
		}

		.modal-dialog-center {/* Edited classname 10/03/2014 */
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		hr {
			margin-bottom: 5px;
			margin-top: 5px;
		}

		.no-close .ui-dialog-titlebar-close {
			display: none;
		}

		body {
			background-color: #eee;
		}

		.controls {
			margin-bottom: 10px;
		}
		td.coupongrid {
			padding-top: 50px;
		}

		.table > tbody > tr > td {
			vertical-align: middle
		}

		.field {
			margin-top: 10px
		}

		.number {
			display: inline-block
		}

		.badge-success {
			background-color: #5CB85C;
		}

		.badge-inverse {
			background-color: #333;
		}

	</style>
	<body>

		<div id ="headerv" class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="width:1000px ">
					<div class="rows">
						<div class="col-xs-10">
							<div class="brand" style="color:#CCCCCC">
								<h1><%= @shopname%></h1>
							</div>
						</div>
						<div class="col-xs-2">
							<div style="padding-top: 30px;padding-left: 80px">
								<a id="logout" href="#" onclick="logout()" style="color:#3071A9"><h4><b>退出</b></h4></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id ="body" class="container" style="padding-top:130px;width:1000px">
			<div class="rows" >
				<div class="col-xs-3">
					<div class="list-group">
						<a href="#" class="list-group-item active" id="menu_users" onclick="togglepage('menu_users')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<b>客户管理</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">储值 积分 卡号</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_coupons" onclick="togglepage('menu_coupons')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;<b>优惠券</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布 兑换</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_products" onclick="togglepage('menu_products')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<b>商品信息</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布 修改</h6>
						</p> </a>
						<a href="#" class="list-group-item" id="menu_shopinfo" onclick="togglepage('menu_shopinfo')"> <h3 class="list-group-item-heading"><span class="glyphicon glyphicon glyphicon-home"></span>&nbsp;&nbsp;<b>店铺信息</b></h3>
						<p class="list-group-item-text">
							<h6 style="color:#CCCCCC;margin-left: 42px">发布  修改</h6>
						</p> </a>
					</div>
				</div>
				<div class="col-xs-9">
					<div id="menu_users_panel" class="panel panel-default" style="height:700px;">
						<div class="panel-heading">
							会员列表
						</div>

						<div class="panel-body" >
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-6">
										<div class="input-group">
											<div class="input-group-btn">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="searchtype">
													电话号码<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li>
														<a href="#" onclick="selectsearchtype('卡号')">卡号</a>

													</li>
													<li>
														<a href="#" onclick="selectsearchtype('电话号码')">电话号码</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#" onclick="selectsearchtype('用户级别')">用户级别</a>
													</li>

												</ul>
											</div><!-- /btn-group -->
											<input type="text" class="form-control" id="searchtxt">
											<span class="input-group-btn">
												<button class="btn btn-primary" type="button" id="search" onclick="search();">
													<span class="glyphicon glyphicon-search"></span>&nbsp;搜索
												</button> </span>

										</div><!-- /input-group -->
									</div><!-- /.col-lg-6 -->
									<div class="col-xs-4">
										<button type="button" class="btn btn-default" id="listall" onclick="listall()">
											显示所有
										</button>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-success" type="button" onclick="newuser()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;新用户
										</button>
									</div>

								</div>
							</div>
							<div id="pbody_customer">
								<table class="table table-hover">
									<th>微信卡号</th>
									<th>实体卡号</th>
									<th>级别</th>
									<th>电话</th>
									<th>余额</th>
									<th>积分</th>
									<th></th>
									<tr>
										<% @customers.each do |customer| %>
										<td><%= customer.cardid%></td>
										<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="realcardid<%= customer.id%>"><%= customer.realcardid%></a></td>
										<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="level<%= customer.id%>"><%= customer.level%></a></td>
										<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="phone<%= customer.id%>"><%= customer.phone%></a></td>
										<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="balance<%= customer.id%>"><%= customer.balance%></a></td>
										<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="bonus<%= customer.id%>"><%= customer.bonus%></a></td>
										<td>
										<button type="button" class="btn btn-primary" recordid="<%= customer.id%>" onclick="operate(this)" id="changebtn<%= customer.id%>">
											修改
										</button>
										<button type="button" class="btn btn-danger" recordid="<%= customer.id%>" onclick="delconfirm(this)" id="deletebtn<%= customer.id%>">
											删除
										</button></td>
									</tr>
									<% end %>
								</table>
								<div class="flickr_pagination">
									<%= ajax_will_paginate @customers, :params=>{:controller=>"cardbackground", :action=>"index"}%>
								</div>
							</div>

						</div>
					</div>

					<div id="menu_coupons_panel" class="panel panel-default" style="height:700px;display:none">
						<div class="panel-heading">
							优惠券
						</div>

						<div class="panel-body">
							<div class="well well-sm container" style="width:650px">
								<div class="rows">
									<div class="col-xs-6">
										<button class="btn btn-success" type="button" onclick="newcoupon()">
											<span class="glyphicon glyphicon-plus"></span>&nbsp;<b>添加优惠券</b>
										</button>
									</div><!-- /.col-lg-6 -->
									<div class="col-xs-4">

									</div>
									<div class="col-xs-2">

									</div>

								</div>
							</div>

							<div id="pbody_coupon">
								<table class="table table-hover">
									<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图片</th>
									<th>标题</th>
									<th>类别</th>
									<th>开始日期</th>
									<th>截止日期</th>
									<th></th>
									<th></th>

									<% @coupons.each do |coupon| %>
									<tr>
										<td><%= image_tag coupon.pic.url(:thumb) %></td>
										<td data-toggle="tooltip" data-placement="top" title="详情:<%= coupon.content%>"><%= coupon.title%></td>
										<td><%= coupon.usertype%></td>
										<td><%= coupon.startdate%></td>
										<td><%= coupon.enddate%></td>
										<td> <%if coupon.sent== 0%>
										<button type="button" class="btn btn-primary" coupid="<%= coupon.id%>" onclick="pubcoupconfirm(this)" id="couppubbtn<%= coupon.id%>">
											发布
										</button>
										<button type="button" class="btn btn-danger" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button><%else%>

										<%if coupon.enddate > DateTime.now%>
										<div class="number">

											<a data-toggle="modal" href="/coupons/requestcoupon" data-target="#requestcoupon" > <span class="badge badge-success">待兑换 <span>42</span id="couponreq<%= coupon.id%>"></span></a>
											<a href="#"> <span class="badge" style="color:dimgray;display:block;margin-top:5px" id="couponusd<%= coupon.id%>">已兑换 42</span></a>
										</div>
										<button type="button" class="btn btn-success" style="position: relative;bottom:12px;left:10px"  coupid="<%= coupon.id%>" onclick="pubcouprefresh(this)" id="couprefreshbtn<%= coupon.id%>">
											刷新
										</button> <%else%>
										<div class="number">
											<a href="#"> <span class="badge" style="color:dimgray;display:block ">已兑换 42</span></a>
										</div>
										<button type="button" class="btn btn-danger"  style="position: relative;bottom:2px;left:10px" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button> <%end%><%end%> </td>
									</tr>
									<% end %>
								</table>

								<div class="flickr_pagination">
									<%= ajax_will_paginate @coupons, :params=>{:controller=>"coupons", :action=>"display"} %>
								</div>
							</div>
						</div>
					</div>

					<div id="menu_products_panel" class="panel panel-default" style="height:800px;display:none">
						<div class="panel-heading">
							商品信息
						</div>
						<div class="panel-body">

							<table class="table table-hover">
								<tr>
									<td>3</td>
									<td>TB - Monthly</td>
									<td>01/04/2012</td>
									<td>Approved</td>
								</tr>
								<tr>
									<td>3</td>
									<td>TB - Monthly</td>
									<td>01/04/2012</td>
									<td>Approved</td>
								</tr>
								<tr>
									<td>3</td>
									<td>TB - Monthly</td>
									<td>01/04/2012</td>
									<td>Approved</td>
								</tr>
							</table>
						</div>
					</div>

					<div id="menu_shopinfo_panel" class="panel panel-default" style="height:500px;display:none">
						<div class="panel-heading">
							店铺信息
						</div>
						<div class="panel-body">

							<table class="table table-hover">
								<tr>
									<td>4</td>
									<td>TB - Monthly</td>
									<td>01/04/2012</td>
									<td>Approved</td>
								</tr>
								<tr>
									<td>4</td>
									<td>TB - Monthly</td>
									<td>01/04/2012</td>
									<td>Approved</td>
								</tr>
								<tr>
									<td>4</td>
									<td>TB - Monthly</td>
									<td>01/04/2012</td>
									<td>Approved</td>
								</tr>
							</table>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div id="delconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>确定删除该会员记录.</b>
			</p>
			<p>

			</p>
		</div>

		<div id="delcouponconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>确定删除该优惠券.</b>
			</p>
			<p>

			</p>
		</div>

		<div id="pubcouponconfirm" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<p>
				<span class="ui-icon ui-icon-info" style="float:left; margin:0 2px 20px 0;"></span>
				<b>发布后到期前将不能删除,请确认</b>
			</p>
			<p>

			</p>
		</div>

		<div id="newuser" class="ui-helper-hidden" style="width:300px;overflow: hidden">
			<form class="form-horizontal">

				<label class="control-label"  for="inputcardno">实体卡号</label>

				<div class="controls">
					<input id="inputcardno" placeholder="卡号" type="text"/>
				</div>
				<label class="control-label" for="inputphone">用户类型</label>

				<div class="controls">
					<select id="inputusertype" name="coupon[usertype]" class="selectpicker">
						<option value="普通会员">普通会员</option>
						<option value="VIP会员">VIP会员</option>
						<option value="白银会员">白银会员</option>
						<option value="黄金会员">黄金会员</option>
						<option value="白金会员">白金会员</option>
					</select>
				</div>

				<label class="control-label" for="inputphone">电话</label>

				<div class="controls">
					<input id="inputphone" placeholder="电话号码" type="text" />
				</div>

				<label class="control-label"  for="inputbalance">预存</label>

				<div class="controls">
					<input id="inputbalance" placeholder="0" type="text" />
				</div>

			</form>
		</div>

		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container" style="width: 900px">
				<p class="text-muted credit" style="text-align: right; padding-top: 10px">
					<%= @shopname%>  2014 &nbsp; &nbsp;&nbsp;Designed By&nbsp;<a href="http://www.weexing.com">微行微系统</a> .
				</p>
			</div>
		</div>
		<div id="shopurl" style="display:none">
			<%= @shopurl%>
		</div>

		<div id="coupon-form">

		</div>

		<div id="newcoupon"  class="ui-helper-hidden"  style="width:330px;overflow: hidden" >
			<%= form_for @coupon, :remote => true,:url => createcoupon_path(@shopid),:html => { :multipart => true } do |f| %>

			<div class="field" style="margin-top:10px">
				<%= f.label :"标题" %>
				<br />
				<%= f.text_field :title %>
			</div>

			<div class="field">
				<%= f.label :"详细" %>
				<br />
				<%= f.text_field :content %>
			</div>
			<div class="field">

				<%= f.label :"优惠券类型" %>
				<br />
				<select id="coupon_usertype" name="coupon[usertype]" class="selectpicker">
					<option value="折扣卷">折扣卷</option>
					<option value="礼品卷">礼品卷</option>
					<option value="礼品卷">积分卷</option>
				</select>

			</div>
			<div class="field" id="datepicker">

				<%= f.label :"截止日期" %>
				<br />
				<div class="input-daterange input-group" id="datepicker">
					<input type="text" class="input-sm form-control" name="coupon[startdate]" id="coupon_startdate" />
					<span class="input-group-addon">到</span>
					<input type="text" class="input-sm form-control" name="coupon[enddate]" id="coupon_enddate	" />
				</div>

			</div>

			<input type="hidden" id="coupon_shopid" name="coupon[shopid]" value="<%= @shopid%>" />
			<div class="field">
				<%= f.label :"图片" ,:id=>"piclabel"%>
				<br />
				<input id="coupon_pic" name="coupon[pic]" title="请选择一个图片" type="file" data-filename-placement="inside" class="btn">
			</div>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align: right">
				<%= f.submit "确定",:id=>"commit",:class=>"btn btn-success", :data => {:'disable-with' => "正在生成..."}%>

				<button type="button" class="btn btn-default" onclick="closecoupon();">
					取消
				</button>

			</div>

			<% end %>
		</div>

		<div class="modal fade" id="requestcoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title">Modal title</h4>

					</div>
					<div class="modal-body">
						<div class="te"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary">
							Save changes
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

	</body>