<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>登录</title>

		<!-- Bootstrap core CSS -->
		<%= stylesheet_link_tag "bootstrap.css" %>
		<%= stylesheet_link_tag "signin.css" %>
		<%= javascript_include_tag "jquery-191.js" %>
		<%= javascript_include_tag "notify-custom.js" %>
		<%= javascript_include_tag "bootstrap.js" %>
		
			<!--[if lte IE 7]>
	<script>window.location = '/browser'</script>
	<![endif]-->

		<!-- Custom styles for this template -->

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<style>
		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
			padding-top: 5px;
		}
		.form-signin .form-signin-heading, .form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin .checkbox {
			font-weight: normal;
		}
		.form-signin .form-control {
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
		}
		.account-wall {
			margin-top: 20px;
			padding: 40px 0px 20px 0px;
			background-color: #f7f7f7;
			-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		}
		.login-title {
			color: #555;
			font-size: 18px;
			font-weight: 400;
			display: block;
		}
		.profile-img {
			width: 96px;
			height: 96px;
			margin: 0 auto 10px;
			display: block;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}
		.profile-name {
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 20px;
			height: 1em;
		}
		.profile-email {
			display: block;
			padding: 0 8px;
			font-size: 15px;
			color: #404040;
			line-height: 2;
			font-size: 14px;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		.need-help {
			display: block;
			margin-top: 10px;
		}
		.new-account {
			display: block;
			margin-top: 10px;
		}
	</style>

	<body>

		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-4">
					</div>
				<div class="col-sm-6 col-md-6 col-lg-4">
					<h1 class="text-center login-title">微信会员卡后台登陆</h1>

					<div class="account-wall">
						<%= image_tag @shop.logopic.url(:thumb),:class=>"profile-img" %>
						<p class="profile-name">
							<%= @shop.name%>
						</p>
						<form class="form-signin" action="">
							<input type="password" class="form-control" placeholder="密码" id="passinput" autofocus>
							<a class="btn btn-lg btn-primary btn-block" onclick="pass();"> 登入 </a>
							<a href="#" class="need-help" style="display: block;width:80px" data-toggle="popover" data-placement="bottom" data-content="您的运营商会提供初始密码，登录后请马上修改。    如果忘记了密码，请联系运营商复位。运营商的名称在本页面右下角。" id="howto">如何登录? </a><span class="clearfix"></span>
						</form>
					</div>
				</div>
				
				<div class="col-sm-3 col-md-3 col-lg-4 ">
					</div>
			</div>
		</div>
		<div class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-4">
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4">
				<p class="text-muted credit" style="text-align: right;margin-top:15px">
					<%= @shop.name%>  2014 &nbsp; &nbsp;&nbsp;Designed By&nbsp;<a href="http://www.weexing.com">微行微系统</a> .
				</p>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-4 ">
					</div>
				</div>
			</div>

		</div>
		<div id="shopid" style="display:none">
			<%= @shop.id%>
		</div>
		<div id="shopurl" style="display:none">
			<%= @shop.shopurl%>
		</div>

		<div id="shopname" style="display:none">
			<%= @shop.name%>
		</div>
		<!-- /container -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
	</body>
	<script>
		$('#howto').popover().click(function() {
			setTimeout(function() {
				$('#howto').popover('hide');
			}, 3000);
		});
		
		function pass() {
			passwd = $.trim($("#passinput").val());
			sid = $.trim($("#shopid").html());
			if (passwd == "") {
				$("#passinput").notify("密码不能为空", {
					position : "right",
					autoHideDelay : 000
				});
			} else {
				$.post("/cardbackground/passcheck", {
					shopid : sid,
					password : passwd
				}, null, "script");

			}
		}

		function checksuccess() {
			surl = $.trim($("#shopurl").html());
			location.href = '/sp/' + surl;
		}

		function checkfail() {
			$("#passinput").notify("密码错误,登录失败", {
				position : "right",
				autoHideDelay : 3000
			});

		}
	</script>
</html>
