<!DOCTYPE html>
<!-- saved from url=(0123)https://mp.weixin.qq.com/cgi-bin/appmsg?begin=0&count=10&t=media/appmsg_list&type=10&action=list&token=962392589&lang=zh_CN -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>微信公众平台</title>
		<%= stylesheet_link_tag "base.css" %>
		<%= stylesheet_link_tag "login.css" %>
		<%= stylesheet_link_tag "jquery.fancybox.css" %>
		<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
		<%= stylesheet_link_tag "buttons.css" %>
		<%= javascript_include_tag "jquery-191.js" %>
		<%= javascript_include_tag "jquery.fancybox.js" %>

		<script type="text/javascript"></script>

		<style>
		</style>
	</head>
	<body class="zh_CN">
		<div class="head" id="header">
			<div class="head_box">
				<div class="inner wrp">
					<h1 class="logo"><a href="https://mp.weixin.qq.com/" title="微行 weexing">微行 weexing</a></h1>
					<div class="account">
						<div class="account_meta account_info">
							<a class="uinfo_box" id="uinfo" href="#userinfo">
							<div id="account" class="nickname">
								账户：
							</div>
							<div id="session_user" class="nickname" style="">
								<%= @account%>
							</div> </a>
						</div>

						<div class="account_meta account_logout">
							<a id="logout" href="/sessions/destroy">退出</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body" class="body">
			<div id="body_box" class="container_box side_l">
				<div class="col_side">
					<div class="menu_box" id="menuBar">
						<dl id="menu_card" class="menu  no_extra closed">
							<dt class="menu_title">
								<i class="icon_menu card"></i><i class="icon_menu_switch"></i>账户管理
							</dt>
							<dd id="menu_agency" class="menu_item " onclick="showpage('agency','/users');">
								<a href="#">代理商管理</a>
							</dd>
							<dd id="menu_shop" class="menu_item " onclick="showpage('shop','/shops');">
								<a href="#">商户管理</a>
							</dd>
						</dl>

						<dl id="menu_activity" class="menu  closed">
							<dt class="menu_title">
								<i class="icon_menu activity"></i><i class="icon_menu_switch"></i>资源管理
							</dt>
							<dd id="menu_publishtemplate" class="menu_item " onclick="showpage('template','/usertemplates');">
								<a href="#">模板管理</a>
							</dd>
							<dd id="menu_publishcards" class="menu_item " onclick="showpage('publishcards','/membercards');">
								<a href="#">卡片管理</a>
							</dd>
							<dd id="menu_publishnews" class="menu_item " onclick="showpage('publishnews','/news');">
								<a href="#">新闻管理</a>
							</dd>

							<dd id="menu_publishpoints" class="menu_item " onclick="showpage('publishpoints','/pointcodes');">
								<a href="#">点卡管理</a>
							</dd>
						</dl>
					</div>
					<script type="text/javascript"></script>
				</div>
				<div class="col_main" id="main1">
					<div id="page"></div>
				</div>
				<div class="foot" id="footer">
					<ul class="links ft">
						<li class="links_item no_extra">
							<a href="http://www.iweixing.com" target="_blank">关于微行</a>
						</li>
						<li class="links_item">
							<a href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/agreement_tmpl&type=info&lang=zh_CN&token=962392589" target="_blank">服务协议</a>
						</li>
						<li class="links_item">
							<a href="http://kf.qq.com/product/weixinmp.html" target="_blank">客服中心</a>
						</li>
						<li class="links_item">
							<a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&f=1&ty=1&ap=000011:400792:|m:12|f:400792:m:12" target="_blank">在线客服</a>
						</li>
						<li class="links_item">
							<a href="mailto:weixinmp@qq.com" target="_blank">联系邮箱</a>
						</li>
						<li class="links_item">
							<a href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/infringement_tmpl&lang=zh_CN" target="_blank">侵权投诉</a>
						</li>
					</ul>
					<p class="copyright">
						Copyright © 2012-2013 Weixing. All Rights Reserved.
					</p>
				</div>
				<div id="userinfo" style="width:250px;display:none">
					<div>
						用戶名:
					</div>
					<div class="style4" style="">
						<%= @counter%>
					</div>
					<div style="">
						点数:
					</div>
					<div class="style4" style="" id="credit_div">
						<%= @credit%>
					</div>
					<div style="margin-left:10px;display:inline">
						<a class="pay_box" href="#pay">
						<button type="submit" class="positive" name="pay" onclick="" style="display:inline">
							兑换点数
						</button> </a>
					</div>

					<div style="margin-left:60px;display:inline">
						<button type="submit" class="positive" name="close" onclick="$.fancybox.close()" style="display:inline">
							关闭
						</button>
					</div>
				</div>
				<div id="pay" style="width:200px;display:none">
					兑换码：
					<input type="text" id="pay_code">
					</input>
					<div id="code_message" style="">

					</div>
					<div style="margin-left:10px;display:inline">

						<button type="submit" class="positive" name="pay2" onclick="validate_code()" style="display:inline">
							兑换
						</button>
					</div>
					<div style="margin-left:20px;display:inline">
						<button type="submit" class="positive" name="close_pay" onclick="clearPaybox()" style="display:inline">
							关闭
						</button>
					</div>
				</div>

				<%= javascript_include_tag "leftmenu.js" %>

				<script type="text/javascript">
					/*s
					 *  Simple image gallery. Uses default settings
					 */

					var currentpage = "agency";
					var user_name = $.trim($("#session_user").text());
					var options = {
						color : "#FFFFFF"
					};

					

				

					function showpage(id,address) {
						$("#menu_" + id).addClass("selected");
						if (currentpage != id) {
							$("#menu_" + currentpage).removeClass("selected");
						}
						$('#page').html("<iframe src='"+address+"' width='810' frameborder='0' scrolling='no' height='655'>我們使用了框架技术，但是您的浏览器不支持框架，请升级您的浏览器以便正常访问脚本之家。 </iframe>");
						$('#page').show();
						currentpage = id;

					}

					function showshoppage(id) {
						$("#menu_" + id).addClass("selected");
						if (currentpage != id) {
							$("#menu_" + currentpage).removeClass("selected");
						}
						$('#page').html("<iframe src='/shops' width='810' frameborder='0' scrolling='no' height='655'>我們使用了框架技术，但是您的浏览器不支持框架，请升级您的浏览器以便正常访问脚本之家。 </iframe>");
						$('#page').show();
						currentpage = id;
					}

					function showagencypage(id) {
						$("#menu_" + id).addClass("selected");
						if (currentpage != id) {
							$("#menu_" + currentpage).removeClass("selected");
						}
						$('#page').html("<iframe src='/users' width='810' frameborder='0' scrolling='no' height='655'>我們使用了框架技术，但是您的浏览器不支持框架，请升级您的浏览器以便正常访问脚本之家。 </iframe>");
						$('#page').show();
						currentpage = id;
					}

					function showtemplatepage(id) {
						$("#menu_" + id).addClass("selected");
						if (currentpage != id) {
							$("#menu_" + currentpage).removeClass("selected");
						}
						$('#page').html("<iframe src='/usertemplates' width='810' frameborder='0' scrolling='no' height='655'>我們使用了框架技术，但是您的浏览器不支持框架，请升级您的浏览器以便正常访问脚本之家。 </iframe>");
						$('#page').show();
						currentpage = id;

					}

					function runEffect() {
					}
				</script>
	</body>
</html>