<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<%= stylesheet_link_tag "jquery-ui.css" %>
		<%= stylesheet_link_tag "login.css" %>
		<title>微行-微信营销专家</title>
	</head>
	<body>
		<div id="header">
			<div class="wrapper" id="hearder_wrapper">
				<a href="http://www.weexing.com/" class="dib"><%= image_tag("weixing.png", height: '56', width: '426') %></a>
			</div>
		</div>
		<!--End of header-->
		<div id="banner" style="background:#070916 url('/images/admin.jpg') no-repeat center center">
			<div class="wrapper" id="banner_wrapper">
				<div id="loginpanel" class="login-panel" style="right:-150px;top:60px">
					<h3>登录</h3>
					<div class="login-mod" id="loginmod">

						<div class="login-err-panel dn" id="err_area" >
							<span class="icon-wrapper"><i class="icon24-login err" style="margin-top:-.2em;*margin-top:0;"></i></span>
							<span id="err_tips">ddssd</span>
						</div>

						<!--End of err_area-->

						<form class="login-form" id="login-form" action="/usercheck" method="post">
							<div class="login-un">
								<span class="icon-wrapper"><i class="icon24-login un"></i></span>
								<input id="username" name="username" placeholder="账号" type="text">
							</div>
							<!--End of login-form-->
							<div class="login-pwd">
								<span class="icon-wrapper"> <i class="icon24-login pwd"></i></span>
								<input id="password" name="password" placeholder="密码" type="password">
								<input name="authenticity_token" type="hidden" value="P9b6xXgCMqQgCxloZEC0y3yEbnbtEKLHQ/CDnGlCwJ4=" />
							</div>
							<!--End of login-pwd-->
						</form>

						<div class="login-btn-panel">
							<div>
								<input type="submit" class="login-btn", title= "点击登录" id="commit" value="管理员登录"/>
							</div>
						</div>
						<!--End of login-btn-panel-->

					</div>
				</div><!--End of login-panel-->
			
			</div><!--End of wrapper-->
		</div><!--End of banner-->
		<div id="contain">
			<div class="wrapper">
				<div class="simple_box mp_index">
					<dt>
						<i class="icon_tip speaker"></i>最新消息
					</dt>
					<dd class="">
						<i>●</i><a href="/news/display/top1" target="_blank"><%= @top1_title%><span class="label_new"><%= image_tag("icon_new.png")%></span></a>
					</dd>
					<dd class="">
						<i>●</i><a href="/news/display/top2" target="_blank"><%= @top2_title%><span class="label_new"><%= image_tag("icon_new.png")%></span></a>
					</dd>
				</div><!--End of simple_box_mp_index-->
			</div><!--End of wrapper-->
		</div><!--End of contain-->
		<div id="footer">
			<span> <a target="_blank" href="/news/display/about">关于微行</a>&nbsp;|&nbsp; <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/agreement_tmpl&amp;type=info&amp;lang=zh_CN">服务协议 </a>&nbsp;|&nbsp; <a target="_blank" href="http://kf.qq.com/product/weixinmp.html">客服中心</a>&nbsp;|&nbsp; <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:%7Cm:12%7Cf:400792:m:12" target="_blank">在线客服</a>&nbsp;|&nbsp; <a target="_blank" href="mailto:weixinmp@qq.com">联系邮箱 </a>&nbsp;|&nbsp; </span>
			<span>Copyright&nbsp; 2012-2013 WEIXING. All Rights Reserved.</span>

		</div><!--End of footer-->
		<!--Java Script starts from here-->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui.custom.min.js"></script>
		<script type="text/javascript" src="/js/admin-login.js"></script>
	</body>
</html>
