<%= stylesheet_link_tag "admin.css"%>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "admin.css"%>
<div class="mainbody">
<p>
  <strong>名字:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>邮件:</strong>
  <%= @comment.email %>
</p>

<p>
  <strong>留言:</strong>
  <%= @comment.message %>
</p>
<%= link_to '返回', comments_path %>
</div>
