<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "店名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address,"地址" %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone,"电话" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :shopurl,"子域名" %><br />
    <%= f.text_field :shopurl %>
  </div>
  
  <div class="field">
    <%= f.label :weixin_token,"微信token" %><br />
    <%= f.text_field :weixin_token %>
  </div>
  
    <div class="field">
    <%= f.label :online,"是否上线" %><br />
    <%= f.number_field :online %>
  </div>
  
  
    <div class="field">
    <%= f.label :expried,"是否过期" %><br />
    <%= f.number_field :expried %>
  </div>
  
  <div class="field">
    <%= f.label :istrial,"是否试用" %><br />
    <%= f.number_field :istrial %>
  </div>
  <div class="actions">
    <%= f.submit "更新信息"%>
  </div>
<% end %>
