		<div id="wrapper" class="shopswrapper">

			<% @shops.each do |shop| %>
			<li class="shopgrid">

				<div class="sid" style="display:none">
					<%= shop.id%>
				</div>

				<div class="accountname">
					<%= shop.name%>
				</div>
				<div class="accountstartdate">
					<%= shop.created_at.to_s[0,10]%></br>开通
				</div>
				<div class="accountenddate">
					<%= shop.exprieddate.to_s[0,10]%></br>到期
				</div>

				<% if shop.online == 0%>
				<div class="status" id="status<%= shop.id%>">
					停止中
				</div>
				<% elsif shop.online == 1%>

				<div class="status-online" id="status<%= shop.id%>">
					运行中
				</div>
				<% end %>
				<% if shop.istrial == 0%>
				<div class="accountmanage">
					<% if shop.online == 0%><a class="nshoppbtn startbutton" id="onlinebtn<%= shop.id%>" onclick="online(<%= shop.id%>);return false;">上线</a><%elsif shop.online==1%> <a class="nshoppbtn stopbutton" id="onlinebtn<%= shop.id%>" onclick="online(<%= shop.id%>);return false;">下线</a>
					<%end%>
					<a id="chargebutton" class="nshoppbtn chargebutton" href="#">续费</a>
				</div>
				<%elsif shop.istrial == 1 %>
				<div class="accountmanagetrial">
					<a id="trialbutton" class="trialbutton" href="#">试用审核中,请等待</a>
				</div>
				
				
				<%end%>
				
				
				
				<div class="logoset">

					<a class="setupbutton logobutton"  onclick="return setuplogo(<%= shop.id%>)">LOGO上传</a>

				</div>
				<div class="templateset">
					<a class="setupbutton templatebutton" onclick="return setTemplate(<%= shop.id%>)">模板样式</a>
				</div>

				<div class="cardset">
					<a class="setupbutton logobutton" onclick="return setupcard(<%= shop.id%>)">卡片样式</a>
				</div>

				<div class="sysinfo">
					<a class="setupbutton templatebutton" onclick="setupurl(<%= shop.id%>)">系统信息</a>
				</div>
			</li>
			<% end %>
		</div>
		<div class="flickr_pagination shop_pag">
			<%= ajax_will_paginate @shops,:inner_window => 1,:outer_window=>1 %>
		</div>