<%= javascript_include_tag "jquery-1.js" %>
<%= javascript_include_tag "jquery-ujs.js" %>
<style>
td   {border:solid
	}
</style>

<h1>店铺列表</h1>

<table>
	<tr>
		<th>终端客户名</th>
		<th>地址</th>
		<th>代理商</th>
		<th>代理商邮件</th>
		<th>上线时间</th>
		<th>到期时间</th>
		<th>状态</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @shops.each do |shop| %>
	<tr>
		<td><%= shop.name %></td>
		<td><%= shop.address %></td>
		<td><%= shop.user.company %></td>
		<td><%= shop.user.email %></td>
		<td><%= shop.created_at %></td>
		<td><%= shop.exprieddate %></td>
		<% if shop.expried ==1%><td>过期</td><%elsif shop.expried == 0 && shop.istrial ==1%> <td>试用</td> <%else%><td>正常</td><%end%>
		
		<td><% if shop.expried ==1%><%= link_to '下线', shop %><%end%></td>
		<td><% if shop.istrial ==1%><%= link_to '核准', edit_shop_path(shop) %><%end%></td>
		<td><%= link_to '編輯', edit_shop_path(shop) %></td>
		<td><%= link_to '显示', shop %></td>
		<td><%= link_to '删除', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @shops,:inner_window=>3,:outer_window=>2 %>
<br />

