<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
<%= stylesheet_link_tag "jquery.multiDialog.css" %>
<%= stylesheet_link_tag "templateschoose.css" %>
<%= stylesheet_link_tag "pagenate.css" %>
<%= stylesheet_link_tag "ui.notify.css" %>
<%= stylesheet_link_tag "jquery.fancybox.css" %>
<script type="text/javascript" src="/assets/log4javascript.js"></script>
<script type="text/javascript">var log = log4javascript.getDefaultLogger();</script>
<script src="/assets/jquery-191.js"></script>
<script src="/assets/jquery-ui-1.10.4.custom.js"></script>
<script src="/assets/jquery.ui.dialog.extended-1.0.2.js"></script>
<script src="/assets/jquery.multiDialog.js"></script>
<script type="text/javascript" src="/assets/jquery.notify.js"></script>
<script type="text/javascript" src="/assets/jquery.fancybox.js"></script>

<script type="text/javascript">
	$(function() {

		// move the nav to the bottom

		$('a.lightbox').fancybox({
			'closeBtn' : true,
			topRatio : 0.2,
			closeEffect : 'fade',
			helpers : {
			}
		});

		$("#container").notify({
			speed : 500,
			expires : 2000
		});

	});

	$("#templates").hover(function() {
		$(this).css("border", "solid");
	}, function() {
		$(this).css("border", "dashed");
	});

	function saveTemplate() {
		var myRadio = $('input[name=templ]');
		var checkedValue = myRadio.filter(':checked').val();
		var sid = $.trim($("#shopid").text());
		var params = "shop_id=" + sid + "&template_id=" + checkedValue;
		$.ajax({
			type : "POST",
			url : "/shops/updateusertemplate",
			data : params,
			dataType : "json",
			success : function(data) {
				$("#container").notify("create", {
					title : '保存成功',
					text : '模板信息已经保存成功'
				});
			},
			error : function(data) {
				$("#container").notify("create", {
					title : '保存失败',
					text : '模板信息没有被保存，请联系管理员'
				});
			}
		});

	}

</script>

<style>
	a:link {
		color: black
	}/* 未访问的链接 */
	a:visited {
		color: black
	}/* 已访问的链接 */
	a:active {
		color: black
	} /* 选定的链接 */
</style>
<body>
<div class="cards">
	<div id="usercards">
		
		<ul class="float">
			<% @cards.each do |card| %>
			<li>
				<a class="lightbox themegrid" id="tem<%= usertemplate.id%>" href="<%= usertemplate.preview.url(:medium)%>&width=800&height=600"> <%= image_tag usertemplate.preview.url(:thumb), title:"点击查看详情", alt:usertemplate.pic, addr:usertemplate.id%> </a>
				<input type='radio'  id='radio<%= usertemplate.id%>' name='templ'  class="css-checkbox" value=<%= usertemplate.id%> <% if usertemplate.id == @current_template.to_i %> checked="checked"<%end%>/>
				<label for="radio<%= usertemplate.id%>" class="css-label"><%= usertemplate.name%></label>
			</li>
			<% end %>
		</ul>
		<div class="flickr_pagination pag_pos">
			<%= ajax_will_paginate @usertemplates %>
		</div>
	</div>
</div>
<div id='shopid' style="display:none">
	<%= @shopid%>
</div>
<div id="container" style="display:none">
	<!--
	Later on, you can choose which template to use by referring to the
	ID assigned to each template.  Alternatively, you could refer
	to each template by index, so in this example, "basic-tempate" is
	index 0 and "advanced-template" is index 1.
	-->
	<div id="basic-template">
		<a class="ui-notify-cross ui-notify-close" href="#">x</a>
		<h1>#{title}</h1>
		<p>
			#{text}
		</p>
	</div>

	<div id="advanced-template">
		<!-- ... you get the idea ... -->
	</div>
</div>

<a class="btn" onclick="saveTemplate()">保存</a>
</body>

