<p id="notice">
	<%= notice %>
</p>
<script src="/assets/jquery-191.js"></script>
<%= javascript_include_tag "jquery-191.js" %>
<%= javascript_include_tag "jquery-ujs.js" %>
<%= stylesheet_link_tag "admin.css" %>
<!-- MultiDialog files (needed) -->
<script type="text/javascript">

</script>
<div class="mainbody">
<p>
	<b>店名:</b>
	<%= @shop.name %>
</p>

<p>
	<b>地址:</b>
	<%= @shop.address %>
</p>

<p>
	<b>电话:</b>
	<%= @shop.phone %>
</p>

<p>
	<b>代理公司:</b>
	<%= @shop.user.company %>
</p>

<p>
	<b>代理邮件:</b>
	<%= @shop.user.email %>
</p>


<p>
	<b>微信token:</b>
	<%= @shop.weixin_token %>
</p>


<p>
	<b>子域名:</b>
	<%= @shop.shopurl%>
</p>

<%= link_to '修改', edit_shop_path(@shop) %> |
<%= link_to '返回', shops_path %>

</div>
