<script src="/assets/jquery-191.js"></script>
<script src="/assets/jquery-ui-1.10.4.custom.js"></script>
<%= stylesheet_link_tag "jquery-ui-1.10.4.custom.css" %>
<%= stylesheet_link_tag "sysinfo.css" %>
<%= stylesheet_link_tag "ui.notify.css" %>
<script type="text/javascript" src="/assets/jquery.notify.js"></script>

<div id="usrurl" style="display:none">
	<%= @shopurl%>
</div>
<div id="usrtoken" style="display:none">
	<%= @token%>
</div>
<div id="shopid" style="display:none">
	<%= @shopid%>
</div>

<p>
	应用路径会在微信接入时用到，也会在用户后台的地址中出现。
</p>
<div id ="urlform" style="display:inline-block; width:600px;height:300px;border:solid;vertical-align:top;">
	<div id="urlcolumn">
		<label for="url" class="trailinfo">子域名</label>
		<input type="text" name="url" id="url" title="此处不能为空" class="text ui-widget-content ui-corner-all">
	</div>
	<div id="tokencolumn">
		<label for="token" class="trailinfo">微信token</label>
		<input type="text" name="token" id="token" title="此处不能为空" value="" class="text ui-widget-content ui-corner-all">
	</div>
	<div id="submitbtn">
		<a class="guidebtn" onclick="submiturl()">提交</a>
	</div>

</div>

<div id ="urlinfo" style="display:inline-block; width:600px;height:300px;border:solid;vertical-align:top;">
	<p>
		此应用的token是:<%= @shopurl%>(请与微信公众平台端保持一致)
	</p>
	<p>
		您的接入网址是 http://www.weexing.com/weixin/<%= @token%>, 请在微信公众平台后台接入。
	</p>
	<p>
		此应用的后台网址是 http://www.weexing.com/<%= @shopurl%>，初始密码为:12345678,请及时修改。
	</p>

</div>

<div id="container" style="display:none">
	<!--
	Later on, you can choose which template to use by referring to the
	ID assigned to each template.  Alternatively, you could refer
	to each template by index, so in this example, "basic-tempate" is
	index 0 and "advanced-template" is index 1.
	-->
	<div id="basic-template">
		<a class="ui-notify-cross ui-notify-close" href="#">x</a>
		<h1>#{title}</h1>
		<p>
			#{text}
		</p>
	</div>

</div>

<script>
	var vurl = $.trim($("#usrurl").text());
	var vtoken = $.trim($("#usrtoken").text());
	var vshopid = $.trim($("#shopid").text());

	$(function() {

		$("#container").notify({
			speed : 500,
			expires : 2000
		});

	});

	if (vurl != "" && vtoken != "") {
		$("#urlform").css('display', 'none');

	} else {
		$("#urlinfo").css('display', 'none');
	}

	function submiturl() {

		var nurl = $.trim($("#url").val());
		var ntoken = $.trim($("#token").val());

		if (nurl == "") {
			$("#container").notify("create", {
				title : 'URL不能为空',
				text : '请输入不为空的URL'
			});
			return;
		}

		if (ntoken == "") {
			$("#container").notify("create", {
				title : 'TOKEN不能为空',
				text : '请输入不为空的TOKEN'
			});
			return;
		}

		$.post("/shops/urlcheck", {
			url_name : nurl,
			token_name : ntoken,
			shop_id : vshopid
		}, null, "script");

		//}

	}

	function urlexist() {
		$("#container").notify("create", {
				title : '失败',
				text : '这个url已经存在，请换一个。'
			});

	}

	function tokenexist() {
		$("#container").notify("create", {
				title : '失败',
				text : '这个TOKEN已经存在，请换一个。'
			});
	}

	function urlsuccess() {
		$("#container").notify("create", {
				title : '成功',
				text : 'URL和TOKEN都更新成功。'
			});
	 history.go(0);

	}
</script>
