<div id="logo-form" title="请上传LOGO">
	<p>
		logo会出现在会员卡与管理后台上
	</p>

	<div id="logopic" style="display:inline-block; width:100px;height:100px;border:solid;vertical-align:top;overflow: hidden">
		<%= image_tag @shop.logopic.url%>
	</div>
	<div id ="uploadform" style="display:inline-block; width:300px;height:300px;border:solid;vertical-align:top;">
		<%= form_for @shop, :url => updatelogo_url, :html => { :multipart => true }, :method => :POST  do |f| %>

		<% if @shop.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@shop.errors.count, "error") %> 该LOGO因为错误没有被保存:</h2>

			<ul>
				<% @shop.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
			<%= f.label :LOGO文件%>
			<br />
			<%= f.file_field :logopic,:class=>'fileupload' %>
		</div>

		<div class="actions">
			<%= f.submit :class=>'filesubmits' %>
		</div>
		<% end %>
	</div>
</div>

