<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div  class="field">
   <%= f.label :email,"邮件" %>:
   <%= f.text_field :email, :size => 40 %>
  </div>
  <div class="field">
   <%= f.label :company, '公司' %>:
   <%= f.text_field :company, :size => 40 %>
  </div>
  
   <div  class="field">
   <%= f.label :usertype, '身份' %>:
   <%= f.text_field :usertype, :size => 6 %>
  </div>
  <div  class="field">
   <%= f.label :activated, '是否激活' %>:
   <%= f.number_field :activated, :size => 2 %>
  </div>
  <div  class="field">
   <%= f.submit "提交修改"%>
  </div>
<% end %>

