
<%= stylesheet_link_tag "admin.css" %>
<div class="mainbody">
<p id="notice"><%= notice %></p>

<p>
  <b>邮件地址:</b>
  <%= @user.email %>
</p>

<p>
  <b>公司名称:</b>
  <%= @user.company %>
</p>

<p>
  <b>联系人:</b>
  <%= @user.name %>
</p>

<p>
  <b>电话号码:</b>
  <%= @user.phone %>
</p> 


<p>
  <b>身份:</b>
  <%= @user.usertype %>
</p>

<p>
  <b>是否激活</b>
  <%= @user.activated %>
</p>


<%= link_to '修改', edit_user_path(@user) %> |
<%= link_to '返回', users_path %>
</div>
