<table class="table table-hover">
									<thead>
										<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图片</th>
										<th>标题</th>
										<th>类别</th>
										<th>开始日期</th>
										<th>截止日期</th>
										<th></th>
									</thead>

									<% @coupons.each do |coupon| %>
									<tr>
										<td><%= image_tag coupon.pic.url(:thumb) %></td>
										<td data-toggle="tooltip" data-placement="top" title="详情:<%= coupon.content%>"><%= coupon.title%></td>
										<td><%= coupon.usertype%></td>
										<td><%= coupon.startdate%></td>
										<td><%= coupon.enddate%></td>
										<td style="text-align: right"> <%if coupon.sent== 0%>
										<button type="button" class="btn btn-primary" coupid="<%= coupon.id%>" onclick="pubcoupconfirm(this)" id="couppubbtn<%= coupon.id%>">
											发布
										</button>
										<button type="button" class="btn btn-danger" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button><%else%>

										<%if coupon.enddate > DateTime.now%>
										<div class="number">

											<%if coupon.coupon_req == 0%><a href="#" data-target="#requestcoupon" id="coup_req_id<%= coupon.id%>" coupid="<%= coupon.id%>"><span class="badge" id="couponbadge<%= coupon.id%>"><%else%><a class="remotedialog" onclick="openrecycle(this)" id="coup_req_id<%= coupon.id%>" coupid="<%= coupon.id%>"><span class="badge badge-success" id="couponbadge<%= coupon.id%>"><%end%>待兑换 <span id="couponreq<%= coupon.id%>"><%= coupon.coupon_req%></span><span></a> <a href="#"> <span class="badge" style="color:dimgray;display:block;margin-top:5px">已兑换<span id="couponusd<%= coupon.id%>"><%= coupon.coupon_usd%></span> </span></a>
										</div>
										<button type="button" class="btn btn-success" style="position: relative;bottom:12px"  coupid="<%= coupon.id%>" onclick="pubcouprefresh(this)" id="couprefreshbtn<%= coupon.id%>">
											刷新
										</button> <%else%>
										<div class="number">
											<a href="#"> <span class="badge" style="color:dimgray;display:block ">已兑换 <%= coupon.coupon_usd%></span></a>
										</div>
										<button type="button" class="btn btn-danger"  style="position: relative;bottom:2px" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button> <%end%><%end%> </td>
									</tr>
									<% end %>
								</table>

							
									<%= ajax_will_paginate @coupons, :params=>{:controller=>"coupons", :action=>"display"} %>
