<table class="table table-hover">
									<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图片</th>
									<th>标题</th>
									<th>类别</th>
									<th>开始日期</th>
									<th>截止日资</th>
									<th></th>
									<th></th>

									<% @coupons.each do |coupon| %>
									<tr>
										<td><%= image_tag coupon.pic.url(:thumb) %></td>
										<td data-toggle="tooltip" data-placement="top" title="详情:<%= coupon.content%>"><%= coupon.title%></td>
										<td><%= coupon.usertype%></td>
										<td><%= coupon.startdate%></td>
										<td><%= coupon.enddate%></td>
										<td>
										<button type="button" class="btn btn-primary" coupid="<%= coupon.id%>" onclick="pubcoupconfirm(this)" id="couppubbtn<%= coupon.id%>">
											发布
										</button> <%if coupon.enddate < DateTime.now%>
										<button type="button" class="btn btn-danger" coupid="<%= coupon.id%>" onclick="delcoupconfirm(this)" id="coupdeletebtn<%= coupon.id%>">
											删除
										</button><%end%></td>
									</tr>
									<% end %>
								</table>

								<div class="flickr_pagination">
									<%= ajax_will_paginate @coupons, :params=>{:controller=>"coupons", :action=>"display"} %>
								</div>