<div id="newcoupon"  class="ui-helper-hidden"  style="width:300px;overflow: hidden" >
	<%= stylesheet_link_tag "bootstrap.css" %>
	<%= javascript_include_tag "jquery-191.js" %>
	<%= javascript_include_tag "jquery-ujs.js" %>
	<%= form_for @coupon, :url => createcoupon_path,:html => { :multipart => true } do |f| %>

	<div class="field">
		<%= f.label :"标题" %>
		<br />
		<%= f.text_area :content %>
	</div>

	<div class="field">
		<%= f.label :"图片" %>
		<br />
		<%= f.file_field :pic %>
	</div>
	<div class="actions" style="text-align: right">
		<%= f.submit "添加",:id=>"commit",:class=>"btn btn-primary", :data => {:'disable-with' => "Submitting..."}%>

		<button type="button" class="btn btn-danger" onclick="window.parent.closew()">
			取消
		</button>

	</div>

	<% end %>
	<script>
		
	</script>
</div>