<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Shopid:</b>
	<%= @coupon.shopid %>
</p>

<p>
	<b>Usertype:</b>
	<%= @coupon.usertype %>
</p>

<p>
	<b>Content:</b>
	<%= @coupon.content %>
</p>

<p>
	<b>Startdate:</b>
	<%= @coupon.startdate %>
</p>

<p>
	<b>Enddate:</b>
	<%= @coupon.enddate %>
</p>

<p>
	<b>CouponType:</b>
	<%= @coupon.coupon_type %>
</p>

<p>
	<b>Present name:</b>
	<%= @coupon.title %>
</p>

<p>
	<b>Discount:</b>
	<%= @coupon.discount %>
</p>

<p>
	<b>Present value:</b>
	<%= @coupon.present_value %>
</p>

<p>
	<b>Branch:</b>
	<%= @coupon.branch %>
</p>

<p>
	<b>Pic:</b>
	<%= image_tag @coupon.pic.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
