<div class="digg_pagination">
	<%= ajax_will_paginate @usertemplates %>
</div>
<ul class="float ui-helper-clearfix">
	<% @usertemplates.each do |usertemplate| %>
	<li>
		<a class="lightbox themegrid" id="tem<%= usertemplate.id%>" href="<%= usertemplate.preview.url(:medium)%>&width=800&height=600"> <%= image_tag usertemplate.preview.url(:thumb), title:"点击查看详情", alt:usertemplate.pic, addr:usertemplate.id%> </a>
		<input type='radio'  id='radio<%= usertemplate.id%>' name='templ'  class="css-checkbox" value=<%= usertemplate.id%> <% if usertemplate.id == @current_template.to_i %> checked="checked"<%end%>/>
		<label for="radio<%= usertemplate.id%>" class="css-label"><%= usertemplate.name%></label>
	</li>
	<% end %>
</ul>
