<%= stylesheet_link_tag "templateschoose.css" %>
<%= stylesheet_link_tag "pagenate.css" %>
<%= stylesheet_link_tag "ui.notify.css" %>
<%= stylesheet_link_tag "jquery.fancybox.css" %>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/unicorn.css" />
<link rel="stylesheet" href="/css/font-awesome.css" />
<%= javascript_include_tag "jquery-191.js" %>
<%= javascript_include_tag "jquery-ui-1.10.4.custom.js" %>
<%= javascript_include_tag "jquery.notify.js" %>
<%= javascript_include_tag "jquery.fancybox.js" %>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.masonry.min.js"></script>

<script type="text/javascript">
	$(function() {

		// move the nav to the bottom

		$('a.lightbox').fancybox({
			'closeBtn' : true,
			topRatio : 0.2,
			closeEffect : 'fade',
			helpers : {
			}
		});

		$('.gallery-masonry').masonry({
			itemSelector : '.item',
			isAnimated : true,
			isFitWidth : true
		});

		$("#container").notify({
			speed : 500,
			expires : 2000
		});

	});

	function saveTemplate() {
		var myRadio = $('input[name=templ]');
		var checkedValue = myRadio.filter(':checked').val();
		var sid = $.trim($("#shopid").text());
		var params = "shop_id=" + sid + "&template_id=" + checkedValue;
		$.ajax({
			type : "POST",
			url : "/shops/updateusertemplate",
			data : params,
			dataType : "json",
			success : function(data) {
				$("#container").notify("create", {
					title : '保存成功',
					text : '模板信息已经保存成功'
				});
			},
			error : function(data) {
				$("#container").notify("create", {
					title : '保存失败',
					text : '模板信息没有被保存，请联系管理员'
				});
			}
		});

	}

</script>

<style>
	a:link {
		color: black
	}/* 未访问的链接 */
	a:visited {
		color: black
	}/* 已访问的链接 */
	a:active {
		color: black
	} /* 选定的链接 */
</style>
<body>
	<div class="row">
		<div class="col-xs-12">

			<div class="widget-content">
				<div class="gallery-masonry">
					<div class="item">
						<a href="#" class="thumbnail"> <img src="/img/demo/img1.jpg" alt=""> </a>
						<div class="actions">
							<div class="actions-inner">
								<a title="Edit" href="#" class="tip-top"><i class="fa fa-pencil"></i></a>
								<a title="Remove" href="#" class="tip-top"><i class="fa fa-trash-o"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<a href="#" class="thumbnail"> <img src="/img/demo/img2.jpg" alt=""> </a>
						<div class="actions">
							<div class="actions-inner">
								<a title="选择" href="#" class="tip-top"><i class="fa fa-pencil"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
		
	</div>
	<a class="btn btn-primary" onclick="saveTemplate()">保存</a>
	

	<div id='shopid' style="display:none">
		<%= @shopid%>
	</div>
	<div id="container" style="display:none">
		<div id="basic-template">
			<a class="ui-notify-cross ui-notify-close" href="#">x</a>
			<h1>#{title}</h1>
			<p>
				#{text}
			</p>
		</div>

		<div id="advanced-template">

		</div>
	</div>

</body>

