<h1>模板列表</h1>
<%= javascript_include_tag "jquery-1.js" %>
<%= javascript_include_tag "jquery-ujs.js" %>
<script type="text/javascript">
	function install_success() {
		alert("安装成功");
	}

	function install_fail() {
		alert("安装失败");
	}
</script>
<table>
	<tr>
		<th>模板名称</th>
		<th>目录名</th>
		<th>描述</th>
		<th>是否安装</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @usertemplates.each do |usertemplate| %>
	<tr>
		<td><%= usertemplate.name %></td>
		<td><%= usertemplate.pic %></td>
		<td><%= usertemplate.description %></td>
		<% if usertemplate.installed == 0 %><td>未安装</td><%else%><td>已安装</td><%end%> <td><%= link_to '详情', usertemplate %></td>
		<td><%= link_to '编辑', edit_usertemplate_path(usertemplate) %></td>
		<td><%= link_to '删除', usertemplate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% if usertemplate.installed == 0 %><td><%= link_to '安装', { :action => "install_template",:id=>usertemplate,:ids=>usertemplate.id }, method: :post,:remote => true,data: {}%></td></div><% end %>
	</tr>
	<% end %>
</table>

<br />

<%= link_to '增加模板', new_usertemplate_path %>
