<%= stylesheet_link_tag "admin.css" %>
<%= javascript_include_tag "jquery-191.js" %>
<%= javascript_include_tag "jquery-ujs.js" %>
<%= stylesheet_link_tag "admin.css" %>
<%= stylesheet_link_tag "pagenate.css" %>
<script type="text/javascript">
	function install_success() {
		alert("安装成功");
	}

	function install_fail() {
		alert("安装失败");
	}
</script>
<div class="mainbody">
<table>
	<tr>
		<th>模板名称</th>
		<th>目录名</th>
		<th>描述</th>
		<th>是否安装</th>
	
	</tr>

	<% @usertemplates.each do |usertemplate| %>
	<tr>
		<td><%= usertemplate.name %></td>
		<td><%= usertemplate.pic %></td>
		<td><%= usertemplate.description %></td>
		<% if usertemplate.installed == 0 %><td>未安装</td><%else%><td>已安装</td><%end%> <td><%= link_to '详情', usertemplate %></td>
		<td><%= link_to '删除', usertemplate, method: :delete, data: { confirm: '确定删除么?' } %></td>
		<% if usertemplate.installed == 0 %><td><%= link_to '安装', { :action => "install_template",:id=>usertemplate,:ids=>usertemplate.id }, method: :post,:remote => true,data: {}%></td></div><% end %>
	</tr>
	<% end %>
</table>
<div class="flickr_pagination page_admin">
	<%= will_paginate @usertemplates,:inner_window=>3,:outer_window=>2 %>
</div>
<br />

<%= link_to '增加模板', new_usertemplate_path %>
</div>
