<%= stylesheet_link_tag "admin.css" %>
<div class="mainbody">
<p id="notice"><%= notice %></p>

<p>
  <b>模板名:</b>
  <%= @usertemplate.name %>
</p>

<p>
  <b>预览:</b>
  <%= image_tag @usertemplate.preview.url(:thumb) %>
</p>

<p>
  <b>描述:</b>
  <%= @usertemplate.description %>
</p>


<%= link_to '返回', usertemplates_path %>
</div>
