<table class="table table-hover">
	<th>微信卡号</th>
	<th>实体卡号</th>
	<th>级别</th>
	<th>电话</th>
	<th>余额</th>
	<th>积分</th>
	<th></th>
	<tr>
		<% @customers.each do |customer| %>
		<td><%= customer.cardid%></td>
		<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="realcardid<%= customer.id%>"><%= customer.realcardid%></a></td>
		<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="level<%= customer.id%>"><%= customer.level%></a></td>
		<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="phone<%= customer.id%>"><%= customer.phone%></a></td>
		<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="balance<%= customer.id%>"><%= customer.balance%></a></td>
		<td><a href="#"  class="editab" recordid='edt<%= customer.id%>' id="bonus<%= customer.id%>"><%= customer.bonus%></a></td>
		<td style="text-align: right">
		<button type="button" class="btn btn-primary" recordid="<%= customer.id%>" onclick="operate(this)" id="changebtn<%= customer.id%>">
			修改
		</button>
		<button type="button" class="btn btn-danger" recordid="<%= customer.id%>" onclick="delconfirm(this)" id="deletebtn<%= customer.id%>">
			删除
		</button></td>
	</tr>
	<% end %>
</table>
<div class="flickr_pagination">
	<%= ajax_will_paginate @customers, :params=>{:controller=>"cardbackground", :action=>"index"}%>
</div>