<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :cardid %><br />
    <%= f.text_field :cardid %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.number_field :balance %>
  </div>
  <div class="field">
    <%= f.label :bonus %><br />
    <%= f.number_field :bonus %>
  </div>
  <div class="field">
    <%= f.label :realcardid %><br />
    <%= f.text_field :realcardid %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :openid %><br />
    <%= f.text_field :openid %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
