<%= stylesheet_link_tag "admin.css" %>
<div class="mainbody">
<p id="notice"><%= notice %></p>

<p>
  <strong>卡片名称:</strong>
  <%= @membercard.name %>
</p>
<p>
<%= image_tag @membercard.pic.url(:medium) %>
</p>

<p>
<%= image_tag @membercard.picback.url(:medium) %>
</p>

<%= link_to '返回', membercards_path %>
</div>
