<h1>Listing card_templates</h1>

<table>
  <tr>
    <th>Card name</th>
    <th>Card image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @card_templates.each do |card_template| %>
  <tr>
    <td><%= card_template.card_name %></td>
    <td><%= card_template.card_image_url %></td>
    <td><%= link_to 'Show', card_template %></td>
    <td><%= link_to 'Edit', edit_card_template_path(card_template) %></td>
    <td><%= link_to 'Destroy', card_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card template', new_card_template_path %>
