<p id="notice"><%= notice %></p>

<p>
  <b>Card name:</b>
  <%= @card_template.card_name %>
</p>

<p>
  <b>Card image url:</b>
  <%= @card_template.card_image_url %>
</p>


<%= link_to 'Edit', edit_card_template_path(@card_template) %> |
<%= link_to 'Back', card_templates_path %>
