<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>COCO烘焙坊</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag "jquery.mobile.structure-1.3.2.css" %>
		<%= stylesheet_link_tag "jquery.mobile-1.3.2.css" %>
		<%= stylesheet_link_tag "jquery.mobile.theme-1.3.2.css" %>
		<link href="/templates/<%=@page.to_s%>/cardstyle.css" media="screen" rel="stylesheet" />
		<%= javascript_include_tag "jquery-1.7.1.min.js" %>
		<%= javascript_include_tag "jquery.mobile-1.3.2.js" %>
		<%= javascript_include_tag "tempo.js" %>

		
		<script type="text/javascript">
			/*var params = "customer_name=dominic";
			$.ajax({
				type : "POST",
				url : "/cardguest/get_customer_info/1",
				data : params,
				dataType : "json",
				success : function(data) {
					Tempo.prepare("coupons").render(data.coupons);
					Tempo.prepare("customer_balance").render(data);
					Tempo.prepare("customer_bonus").render(data);
					Tempo.prepare("customer_level").render(data);
					Tempo.prepare("coupon_num").render(data);
				},
				error : function(data) {
					alert("error");
				}
			});*/

		</script>

	</head>
	<body>
		<%= render :partial => "/templates/"+@page.to_s+"/index", :locals => { :card => @cardpic }%>
	<body>
</html>